[2015-05-25 12:04] devalentino opened #2 "log4rs compilation error"
Hi. I am getting log4rs compilation error when try to run my project Here are details:
[code]

[2015-05-26 02:22] sfackler commented on #2
Fixed in #1 and published as v0.3.3.

[2015-05-26 02:22] #2 closed

[2015-08-12 22:38] Nemikolh opened #3 "Terminal coloration"
Hello there!

I have realised log4rs does not provide terminal coloration by default. Would you be interested in the feature?

For comparison, loggers such as [log4js](https://github.com/nomiddlename/log4js-node) and [winston](https://github.com/winstonjs/winston) provides terminal coloration by default.

If you like the idea but don't have the time for it, I would gladly work on it. :)

[2015-08-13 17:33] sfackler commented on #3
Yep, definitely seems reasonable to implement!

[2015-09-07 05:14] ryantaylor commented on #3
I really like this library but I needed colorization, so I went ahead and hacked in super basic, super dirty functionality. No config or anything, just hard-coded colour values for different log levels. I wrote it for my own use until someone smarter than me found the time to implement a proper solution, but I figured I'd post it here in case it helps. If nobody else finds the time to work on this

[2015-09-07 10:56] Nemikolh commented on #3
To be fair, I haven't found much time to work on this. Thanks for working on it !

As a comparison this is the default in log4js:

![log4js](https://cloud.githubusercontent.com/assets/4008156/9714735/e1398702-5551-11e5-8d76-965522bf09ba.png)

With your solution, it currently looks like this:
![log4s](https://cloud.githubusercontent.com/assets/4008156/9715277/afb80f0a-5556-11e5-8be2-38bab0eaab6c.pn

[2015-11-04 19:09] nicokoch commented on #3
Is anyone still working on this? If not, I am willing to pick it up.

I will need some pointers on how one would configure this in the .toml file

[2015-11-04 19:16] sfackler commented on #3
I don't think anyone's working on it right now. Logback's pattern syntax might be a place to look for configuration syntax inspiration: http://logback.qos.ch/manual/layouts.html#coloring

[2016-01-08 21:52] cmr opened #7 "Relicense under dual MIT/Apache-2.0"
# Why?

The MIT license requires reproducing countless copies of the same copyright
header with different names in the copyright field, for every MIT library in
use. The Apache license does not have this drawback, and has protections from
patent trolls and an explicit contribution licensing clause. However, the
Apache license is incompatible with GPLv2. This is why Rust is dual-licensed as
MIT/Apa

[2016-01-08 22:20] nicokoch commented on #7
I approve

[2016-01-09 08:45] gentoo90 commented on #7
OK

[2016-01-09 18:41] sfackler commented on #7
Cool, thanks everyone!

[2016-01-09 18:43] #7 closed

[2016-01-13 15:05] Reposkeeper opened #8 "will log4rs support file size control and rolling file ?"

[2016-01-13 18:40] sfackler commented on #8
Yep, appender configuration's pretty rudimentary right now, but log rotation is definitely something I want to add.

[2016-01-14 05:50] Reposkeeper commented on #8
I like this lib. But log rotation is a rigid requirement for me. Maybe I should not ask , but I really want to know is this requirement in schedule already?

[2016-01-14 05:57] sfackler commented on #8
It's part of some expansion I have been meaning to do. I'll hack on it over the weekend.

[2016-01-14 06:07] Reposkeeper commented on #8
That's great，I am looking forward to it

[2016-01-31 17:16] AndiDog opened #10 "Add example how to filter by crate/module"
Didn't figure this out yet. The default target of the log macros seems to be the module import path, so e.g. `nickel` for [nickel-rs](https://crates.io/crates/nickel/). I'm trying to figure how to log my own application's messages at "trace" level while keeping others at "error" level.

Failed attempt:
[code]

Can you explain and add an example to the documentation?

[2016-01-31 20:37] sfackler commented on #10
I would expect that to work - the `additive` field isn't necessary unless there are other loggers attached to the root that you don't want nickel stuff to go to. Are you seeing nickel messages still logged at trace?

[2016-02-11 13:10] AndiDog commented on #10
I found out the reason, and what exactly I'd like to have improved in the documentation: `%M` prints the module from which a message comes. All the verbose output which I wanted to suppress came from hyper/mime, which hadn't been in my log config...

Here's an example which correctly moves three modules to another appender:

`log.toml`

[code]

`main.rs`

[code]

`Cargo.toml`

[code]

[2016-02-29 15:51] ArturoVM opened #11 "log4rs panics when conf file doesn't exist"
Hello (: I've been playing around with log4rs, and there's some unexpected behavior: When the specified config file doesn't exist, log4rs panics instead of returning an `Err` `Result` variant. The panic message is the usual "file not found" Rust message: `No such file or directory (os error 2)`.

This is on log4rs version 0.3.3.

Thanks!

[2016-02-29 17:11] sfackler commented on #11
Is it panicking or just printing the error message? At least running the [test crate](https://github.com/sfackler/log4rs/tree/master/test) with the log config moved does not cause a panic but does print the error message out.

[2016-02-29 17:55] ArturoVM commented on #11
I suspect it's panicking, but I'll have a second look at my code. I defined a match against the `Result` from `init_file`, but it's not being executed, hence my assumption.

[2016-02-29 18:04] ArturoVM commented on #11
I see what the problem is now. My panic was coming from somewhere else. That being said, `init_file` always returns `Ok`, even if the file is not found, which might not be what the user expects.

[2016-02-29 18:04] #11 closed

[2016-02-29 18:22] ArturoVM commented on #11
This is just a suggestion: If it will always return `Ok`, wouldn't it make sense to default to a `stdout` fallback with only the root logger with an info level?

Also, perhaps it would be better to collect the `Err`s it encounters during initialisation and return them, instead of printing them to `stderr`.

Thanks again, and sorry about a false alarm.

[2016-03-07 21:02] jwilm opened #12 "Support embedded toml config"
There's currently no way to parse a toml string and initialize the logger using the log4rs public API. Internally, log4rs has the `PrivateTomlConfigExt::unpack` method which returns a `config::Config` that can be passed to `init_config`.

This could be accomplished in a number of ways -

* Implement `Clone` for `config::Config` so that `toml::Config::config()` can be used to produce an owned `conf

[2016-03-08 04:01] sfackler commented on #12
This seems pretty reasonable. I'm in the middle of a pretty big overhaul over on the `breaks` branch and I'll work this in there.

[2016-03-08 04:14] jwilm commented on #12
Thanks for the update! I ended up making a branch in the mean time where the `toml::Config::config()` method consumes self and returns an owned `config::Config` instead of a reference.

[2016-03-25 21:37] mfarrugi opened #14 "yaml example in readme does not work"
Yaml in https://github.com/sfackler/log4rs/blob/master/README.md produces this cryptic error:
[code]

Using Rust 1.7,
[code]

[2016-03-25 21:43] sfackler commented on #14
This library is in the middle of a fairly large rewrite, so the current state of the repository doesn't correspond to that last release. The docs do, however, and there's an example config file in them: http://sfackler.github.io/log4rs/doc/v0.3.3/log4rs/

[2016-03-25 21:44] sfackler commented on #14
I'm going to be publishing an 0.4 release in the next couple of days, so we won't be in this weird limbo state for much longer :)

[2016-03-30 04:01] sfackler commented on #14
Released!

[2016-03-30 04:01] #14 closed

[2016-03-30 04:02] sfackler commented on #12
Released!

[2016-03-30 04:02] #12 closed

[2016-03-30 04:03] sfackler commented on #10
I'm unfortunately not quite sure I know the right documentation change to make here - could you make a PR with the adjustment?

[2016-03-30 04:04] sfackler commented on #8
Now that log4rs 0.4 is released, I'm going to start tackling this. I think I'll probably work on it in a separate repo/crate initially until the API gets worked out, but then move it in since it's such a core concept.

[2016-03-30 04:14] jwilm commented on #12
\o/ Thanks for all the work you've put into this recently!

[2016-03-30 04:19] jwilm commented on #8
While you're thinking about the API, it would be nice to support external rotation utilities like `logrotate`. I think that basically means exposing a method which causes appenders to reopen their log files.

[2016-03-30 04:31] sfackler commented on #8
I was planning on having a similar setup to Logback, where there's a "triggering policy" that decides when the log should roll, and a "rotation policy" that decides what to do at that point. I think it should be possible to write a triggering policy that the logback postrotate command can poke, and a rotation policy that just closes and reopens the file.

[2016-03-30 05:00] jwilm commented on #8
That sounds great!

[2016-04-01 16:55] jwilm opened #15 "Log messages from a hierarchy sometimes don't show up"
Given this config,

[code]

messages at the DEBUG level don't show up.. sometimes. There's a [repro in this repository](https://github.com/jwilm/log4rs-logger-hierarchy-issue). The repro should be runnable after a `git clone` and `cargo run`. Multiple invocations may be necessary for the issue to show up.

[2016-04-01 17:00] jwilm commented on #15
Oops, I had pushed the wrong config initially. Now the `log4rs_issue.level` should be `debug`. I pushed a fix to the repro.

[2016-04-02 03:11] #15 closed

[2016-04-02 03:41] sfackler commented on #15
Released v0.4.1

[2016-04-02 16:58] jwilm commented on #15
Thanks @sfackler!

[2016-04-05 09:16] sbant opened #16 "Error with Date pattern with serde_json"
Cargo.toml

main.rs

test.json

Display:

If "pattern": "{d} {m}{n}"
Display:

[2016-04-05 16:16] #16 closed

[2016-04-05 16:20] sfackler commented on #16
Released 0.4.2 with the fix for this, thanks for the report!

[2016-04-09 04:48] sfackler commented on #3
I've started working on this.

[2016-04-09 22:00] sfackler commented on #3
Progress! The `encoder::Write` has been extended with a `set_style` method, which can control the foreground and background colors as well as the foreground intensity of text it outputs. The console appender now colors text if attached to a tty/console. I've also added a new "highlight" formatter to the pattern syntax, which sets the color based on the log level. For example, the test crate now ha

[2016-04-13 05:48] sfackler opened #17 "Allow use of hardcoded text styles in pattern encoder"
The only formatter that the pattern encoder supports which affects text style is `highlight`, which colors based on the log level. It should be possible to also set the text style to some specific configuration, but I'm not sure what syntax would make sense here, particularly in a way that would allow for full configuration of text color, background color, and text intensity.

[2016-04-13 05:48] sfackler commented on #3
I've released v0.4.3 with color support. All that the pattern encoder supports right now is level-based styling. I've opened a new issue to figure out syntax for configuration of specific styles: #17

[2016-04-13 05:48] #3 closed

[2016-04-14 02:20] sfackler commented on #10
I'm going to close this out, but again, feel free to open a PR with documentation improvements!

[2016-04-14 02:20] #10 closed

[2016-04-19 13:56] dbrgn opened #18 "Logging to syslog"
In your docs, you write:

Are there any docs on how to actually log to syslog? Is a custom appender required for that? Could a syslog appender be included in the crate or in a 3rd party crate?

[2016-04-19 16:05] sfackler commented on #18
I don't know of anything that will currently hit syslog, but it should be easy to make. I think it'd probably make sense to build in a 3rd party crate for now - we can always merge it in later.

[2016-04-21 11:26] dbrgn opened #19 "JSON Encoder"
Having a JSON encoder would be great. It would simply encode the input data as JSON string, with sensible key names, one log per output line.

[2016-04-21 11:35] AndiDog commented on #10
The documentation update in 2c69f51981971e231cf8174ea42457efe6e3b0d5 makes it clearer how to have separate loggers per module, so I'm fine with that. Thanks!

[2016-04-25 19:23] troplin opened #20 "Local time zone in date formatting"
Currently, the time stamp is always UTC but I'd prefer local time.

[2016-04-25 20:20] sfackler commented on #20
Allowing this to be configured seems like a good idea. I'm not totally sure what a good syntax would be though. Maybe something like `{d{local}(%h:%m etc)}`?

[2016-04-25 20:37] troplin commented on #20
Or `{dz}` for UTC and `{dl}` for local?
`chrono` treats them a different types too.

[2016-04-25 20:38] jwilm commented on #20
Would it make sense to achieve this with a config option for appenders rather than expanding the format grammar?

[2016-04-25 20:49] sfackler commented on #20
`{dz}` and `{dl}` could work, but we'd presumably want to extend this to explicit timezones in the future when chrono understands `America/Pacific` etc.

I think the format pattern is the right place to specify this, since it's a property local to that part of an appender.

[2016-04-27 20:07] troplin commented on #20
Hm, I can't imagine a use case for explicit time zones in logging.
But that may just be my lack of imagination. 😃

[2016-05-22 06:09] sfackler commented on #8
I'm working on this here: https://github.com/sfackler/log4rs-rolling-file

Not quite ready for a release yet, but the basics are there.

[2016-05-25 17:01] sfackler commented on #8
This is now on crates.io: https://crates.io/crates/log4rs-rolling-file

It's still missing some functionality like [TimeBasedRollingPolicy](http://logback.qos.ch/apidocs/ch/qos/logback/core/rolling/TimeBasedRollingPolicy.html) which is a bit weird from an API perspective but probably the most common policy people actually use, so I'm going to keep it in a separate crate for now until that gets wor

[2016-05-26 06:11] #20 closed

[2016-05-26 06:21] sfackler commented on #19
Yeah, agreed that this would be a good thing to add. It'd probably make sense to build it in a separate crate to get the API into a good place and then look at merging it in here.

[2016-05-28 03:49] #8 closed

[2016-06-02 14:26] afck opened #21 "Configuration parameter to make the log file path relative to the binary"
Currently the log file path from the config file seems to be relative to the current directory. It would be great to have an option (or something like a `$EXE_PATH` variable to use in the path string) to make this relative to the executable instead.

[2016-06-05 02:51] sfackler commented on #21
Interesting idea! Do you know if there are any existing logging frameworks (maybe for other languages) that do something like this? It'd probably be nice to look at them for inspiration for the syntax etc.

[2016-06-06 12:44] afck commented on #21
Unfortunately I don't know of any other logging framework that does this and has its own config file format.
Using the `FileAppenderBuilder` itself it's not a problem, of course, but using a config file there doesn't seem to be a straightforward way to do this. And for many applications it would make sense to have a fixed place for the logs relative to the binary.

It's probably a silly example, b

[2016-06-11 22:02] jchlapinski opened #23 "OOM error when using braces in pattern encoder format string,"
If bracelets are used anywhere around a placeholder, out of memory error occurs, for example `({m})` or `({m} {l})`.

[2016-06-12 16:41] #23 closed

[2016-06-12 17:52] sfackler commented on #23
Fixed in 0.4.7

[2016-06-16 21:18] jchlapinski opened #24 "Problem with escaping braces `()` - Error: expected '}'"
In relation to the discussion here #22, there actually is still a problem with escaping braces. With current implementation this is impossible:
[code]
This should print something like `(src/main.rs:111)` padded to 30 spaces. However with current escaping by doubling of braces it is not possible to escape `(` at the beginning of padding expression `(..):30.30`, since the first two braces `((` are i

[2016-06-17 22:59] sfackler commented on #24
Ugh, yeah, that makes sense. Seems like `\` escaped parens are the way to go. I guess we'll keep the doubled-up syntax for back-compat and I guess use in places where it's not ambiguous.

Want to make the PR?

[2016-06-20 06:10] #24 closed

[2016-06-25 09:00] alygin commented on #18
#26

I've implemented the base functionality of the syslog appender. It supports plain and RFC 5425 messages and UDP/TCP protocols for now but can be easily extended by providing the RFC 3164 format support and unix sockets as a transport protocol option. I'll get back to these features shortly.

Any feedback on the code as well as on the documentation will be highly appreciated.

[2016-06-25 13:29] alygin commented on #18
RFC 3164 support is ready. Added to the same PR.

[2016-07-08 16:36] sinhpham opened #27 "init_file should also return a Handle object"
Just like init_config, so we can load a generic config from file and adjust it afterward.

[2016-07-08 16:40] sfackler commented on #27
File based configs manage automatic reloads automatically. If you want to load an initial config from a file you might want to manually parse it and then call into `init_config`.

[2016-07-08 17:39] sinhpham commented on #27
Should the "parse_config" function be public then? My use case is I wanna reuse the same config file, however have different output files for different process.

[2016-07-08 17:43] sfackler commented on #27
This should do what you need: http://sfackler.github.io/log4rs/doc/v0.4.8/log4rs/file/struct.Config.html#method.parse

It returns a file::Config - get the `log4rs::Config` out of it with the `into_config` method and pass that to `init_config`.

[2016-07-31 04:52] #27 closed

[2016-07-31 04:53] sfackler commented on #21
I'm wondering if the right approach is a "magic token" like `$EXE_PATH`, or a separate option in the appender configuration that makes the path exe-relative.

[2016-08-01 14:06] afck commented on #21
I think that would make sense, too, yes.
It would be weird, though, to set that option and have (possibly by mistake) a path that starts with `/` - would that mean that is appended to the exe path anyway, or would the option just be ignored and the path considered absolute?

That's why I'd slightly prefer the magic token: It's in the same string, at least, and if you put a `/` in front of _that_,

[2016-08-22 02:37] silenceleaf opened #28 "Return Config struct in init_file() func"
Can you return Config struct after read log config from file? If so, I can cache this struct and don't have to read file every times. More over, I can change log config on the fly.

[2016-08-22 08:51] sfackler commented on #28
Yep, you can do this but it involves a bit more manual work than `init_file` (untested):

[code]

[2016-08-24 03:15] silenceleaf commented on #28
Thank you so much!

[2016-08-24 08:04] #28 closed

[2016-09-01 08:45] dremon opened #29 "A code sample to configure logging using init_config"
Please provide a sample how to configure the logging programmatically using init_config function.

[2016-09-01 16:34] #29 closed

[2016-09-06 03:17] #19 closed

[2016-09-09 04:29] sfackler opened #30 "Consider adding an MDC"
Unlike in Java, it won't be inherited by child threads, but that seems fine IMO since you're probably caching threads between requests anyways.

http://logback.qos.ch/manual/mdc.html

[2016-09-10 05:04] sfackler commented on #30
This would almost certainly want to be in a separate crate.

[2016-10-04 03:50] sfackler commented on #30
Implemented!

[2016-10-04 03:50] #30 closed

[2016-10-06 21:20] jwilm opened #31 "Broken pipe when using | tee"
I've been running a process into a `| tee logfile`; sending `SIGINT` will close everything down, but log4rs prints a bunch of this to stdout at that point:

[code]
This is on macOS and a few months old version of log4rs; haven't tested a newer version or different OS.

[2016-10-07 05:22] sfackler commented on #31
I don't think log4rs is doing anything particularly interesting here. I'm guessing that SIGINTing the process group will sometimes kill the tee first so stdout breaks. The error logging goes to stderr which presumably wasn't redirected. I've been meaning to make the error logging configurable but haven't gotten around to it.

[2016-10-11 21:12] sfackler commented on #31
Are there any actions to take here?

[2016-10-11 21:17] jwilm commented on #31
Hey sorry for not getting back to you. I guess if this is how things usually work, then there's no action needed. My application actually does a graceful shutdown on SIGINT so it's probably trying to log after the pipe is closed.

[2016-10-11 21:17] #31 closed

[2016-10-11 21:18] sfackler opened #32 "Need some kind of meta-logging infrastructure"
Errors encountered in the logging process are currently just dumped to stderr. This should be configurable in some way. In particular, it'd be great if it were possible for logger internals to provide diagnostic logging as well to debug configuration issues.

[2016-10-11 21:19] sfackler commented on #31
No problem! I filed #32 to track the meta-logger stuff.

[2016-12-01 01:52] imbear opened #34 "Can I specify different level for appenders?"
For example, "Info" for console, "Trace" for file, etc.

[2016-12-01 01:56] sfackler commented on #34
Yep, you can attach a threshold filter to them!

[2016-12-01 10:17] imbear commented on #34
I tried configure below:
[code]
But got a error:

[2016-12-01 16:57] sfackler commented on #34
Yep, it's not part of the default feature set. Glad you got it working!

[2016-12-01 16:57] #34 closed

[2016-12-13 18:59] Deedasmi opened #35 "serde_yaml imcompatability"
See https://github.com/kbknapp/clap-rs/issues/747 for more information.

serde_yaml 0.5 implements a change that breaks clap-rs. log4rs allows serde_yaml <0.6. As 0.5 has the potential to break things, I'd like to request the dependency be changed to <0.5.

A local compilation with the change works fine for my project and clap-rs.

[2016-12-13 19:16] sfackler commented on #35
The current version range supports both serde_yaml 0.4 and 0.5 - you should be able to downgrade with `cargo update -p serde_yaml --precise 0.4.1`.

[2016-12-13 19:21] Deedasmi commented on #35
That works. Useful command to know. Thanks!

[2016-12-14 05:55] #35 closed

[2016-12-18 08:04] tekjar opened #36 "Log only current crate"
Hi. Can you please give me a config file example of how to print logs only from current crate?

[2016-12-18 18:17] sfackler commented on #36
Something like this should do the trick:

[code]

We're going to turn off logging at the root, and then only turn it back on for our own crate. Appenders are obviously up to you, console is just an example.

[2016-12-18 21:57] tekjar commented on #36
Works. Thanks 👍

[2016-12-18 21:57] #36 closed

[2016-12-30 16:23] the8472 opened #37 "stderr support?"
As far as I can tell from browsing the docs and skimming the code it seems like console output is limited to stdout. And the file appenders take paths, so I can't just pass a handle or writer to stderr either.

[2016-12-30 16:24] sfackler commented on #37
Seems reasonable to allow the console appender to write to stderr optionally.

[2016-12-30 17:33] #37 closed

[2017-02-07 20:08] opensourcegeek opened #38 "How to use rolling file appender?"
I've got sample setting as below,

[code]
but I keep getting the following error
`log4rs: error deserializing component: no appender deserializer for kind `rolling_file` registered`

Why does it not recognize rolling_file kind? I took this config for rolling_file from your test in  [RollingFileAppenderDeserializer](https://github.com/sfackler/log4rs/blob/master/src/append/rolling_file/mod.rs#L331)

[2017-02-07 20:15] sfackler commented on #38
The rolling file appender is turned off by default - you can turn it on with a Cargo feature:

[code]

You can also just use the `all_components` feature to avoid having to deal with turning on everything individually, though that'll add a couple of megabytes to the binary size.

[2017-02-07 20:59] opensourcegeek commented on #38
Ah I see - thanks, that fixed it.

[2017-02-07 20:59] #38 closed

[2017-02-11 21:01] troplin opened #39 "TOML configuration"
Why did you drop TOML configuration format? Will it come back anytime soon?

[2017-02-11 21:02] sfackler commented on #39
It was dropped because the toml crate hadn't updated to serde 0.9 at the time I updated this, but it is now so I will add it back!

[2017-02-11 21:08] #39 closed

[2017-02-11 21:08] sfackler commented on #39
Pushed the update to master - can you make sure it's working as expected? I'll publish after.

[2017-02-11 21:14] troplin commented on #39
Unfortunately, I could not even successfully upgrade from 0.4 to 0.5 yet because I'm using the module `file::raw` directly...
But I'll create a separate issue for what I'm trying to do. Maybe there's a simpler way.

[2017-02-11 21:16] sfackler commented on #39
You should be able to use https://docs.rs/log4rs/0.6.0/log4rs/file/struct.RawConfig.html where you were using `raw` previously.

[2017-02-11 21:20] sfackler commented on #39
(That type implements `serde::Deserialize` but a rustdoc bug prevents it from showing up in the docs D:)

[2017-02-11 21:30] troplin commented on #39
Thanks for the pointer.

[2017-02-11 22:22] troplin commented on #39
My code is now considerably simpler with 0.6, that's great!
It seems to work for me. No extensive testing done though.

[2017-02-11 22:27] sfackler commented on #39
Great, released 0.6.1!

[2017-02-12 12:53] troplin commented on #39
Published 1.5 hours after the issue is reported, that's amazing! 👍

[2017-02-13 15:24] opensourcegeek commented on #38
@sfackler Would you expect the following config to do rolling up correctly? The first log file comes up, but once it reaches configured trigger limit the file doesn't grow but there are no file rotations. Have I missed something?

[code]

[2017-02-13 16:46] sfackler commented on #38
That seems like it should work. What OS are you on?

[2017-02-13 16:59] opensourcegeek commented on #38
On Linux (Fedora 22/CentOS 7), think daemonizing the process has some weird effect. I think the working directory gets changed after daemonizing.

Is there any documentation to explain what types are supported and what any of those kind, base, counts etc. mean?

[2017-02-13 17:03] sfackler commented on #38
Docs for configuration are attached to the `Deserializer` types e.g.: https://docs.rs/log4rs/0.6.1/log4rs/append/rolling_file/struct.RollingFileAppenderDeserializer.html

Ah yeah, I could see daemonization causing issues there. You may want to set the paths to be absolute. The loggers should print errors to stderror if things like rotation fail - you could check there to see what they say.

[2017-02-13 17:04] sfackler commented on #38
The set of kinds is here: https://github.com/sfackler/log4rs/blob/master/src/file.rs#L205

[2017-03-01 22:03] la10736 opened #40 "Roll file that start from no 0 base doesn't roll correctly"
I noted that the use different `base` from `0` create even a base 0 file (`foo.log.0` for instance).
After that following rolls don't create other files.

PR that fix it will follow soon...

[2017-03-01 22:12] sfackler commented on #40
Oops, yeah, looks like the `"0"` here should be `self.base.to_string()`: https://github.com/sfackler/log4rs/blob/master/src/append/rolling_file/policy/compound/roll/fixed_window.rs#L100

[2017-03-01 22:14] #40 closed

[2017-04-04 07:58] radupopescu opened #42 "Console appender only writes to stderr"
Hello!

I have the following log4rs configuration:
[code]

The logging is always sent to stderr - I've checked by redirecting stderr to stdout on the terminal. I've tried both Target::Stdout and Target::Stderr, to make sure they're not inverted.

I'm using MacOS 10.12.4, Rust 1.16, log4rs 0.6.2.

Thanks!

[2017-04-04 21:31] radupopescu commented on #42
Forgot to say that if you need some more information from my side, please let me know.

[2017-04-04 21:38] sfackler commented on #42
Oh oops, busted line is here: https://github.com/sfackler/log4rs/blob/master/src/append/console.rs#L166, will fix.

[2017-04-04 21:38] #42 closed

[2017-04-04 21:38] radupopescu commented on #42
Thanks!

[2017-04-08 07:04] hicqu opened #43 "add stderr support in init_file?"
I tryed this toml log4rs config:
[code]
But log4rs can not recognise that target.

So could you help me for this? Thank you!

[2017-04-08 17:29] sfackler commented on #43
What is the specific error you're seeing?

[2017-04-08 17:30] sfackler commented on #43
Also, what version of log4rs are you using?

[2017-04-09 00:50] hicqu commented on #43
error is:
[code]
but after I remove `target = "stderr"`, it works and prints logs to STDOUT.

Cargo.toml:
[code]

Thank you very much!

[2017-04-09 21:27] sfackler commented on #43
Turns out it was an issue in serde-value: https://github.com/arcnmx/serde-value/pull/11

[2017-04-10 17:10] sfackler commented on #43
Should be fixed if you `cargo update` to pick up `serde-value` 0.4.1!

[2017-04-10 17:10] #43 closed

[2017-04-11 06:42] hicqu commented on #43
thank you very much!

[2017-04-12 15:29] dbrgn commented on #17
Right now the dark blue color (info level) is really hard to read on a black background.

It would be great if the defaults were improved for legibility, or if the colors could be made configurable.

[2017-04-12 16:08] sfackler commented on #17
Your terminal controls what the colors look like: https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

[2017-04-12 16:11] dbrgn commented on #17
Yes, but dark blue is pretty dark on most systems. Cyan as a default might be easier to read. Or a blueish color in 256-color mode.

[2017-04-12 16:17] sfackler commented on #17
Ah, gotcha. I pulled the color selection from https://logback.qos.ch/manual/layouts.html#coloring but don't feel particularly strongly about the specifics.

[2017-04-17 03:12] king6cong opened #44 "more `Append` implementations consideration"
see also https://github.com/Nercury/android_logger-rs/pull/4

I have Appenders that support sentry and android , which I think will be useful to others.
Should we place them in log4rs directly or in there own separate crates?

Pros and Cons I can think of:

#### In log4rs:

* Pros: easy to use and integrate
* Cons: somewhat bloated for log4rs

#### In separate crates:

* Pros: clean design in crat

[2017-04-21 12:06] sfackler commented on #44
I think your assessment of the pros and cons is right. I lean towards keeping appenders out of core log4rs at least initially - rolling_file started out as a separate crate for example, and https://github.com/sfackler/log4rs-routing-appender is another current example. That's why log4rs is extensible after all!

[2017-05-04 01:19] jolhoeft opened #46 "Config File Restrictions"
For my application, I need a small amount of config information. Not wanting to have multiple config files, I just added a field to my 0.5.x Log4rs config file containing my config information, which worked fine. I just upgraded to 0.7.x, and Log4rs can no longer parse the config file. This problem appears to be Serde deserializing into Log4rs' RawConfig struct, seeing an unexpected field (my conf

[2017-05-05 16:01] sfackler commented on #46
I should work just fine embedded in a larger config structure:

[code]

[2017-05-26 19:32] 0xpr03 opened #47 "Missing Docs for LogLevelFilter"
The [LoggerBuilder](https://docs.rs/log4rs/0.7.0/log4rs/config/struct.LoggerBuilder.html) requires a [LogLevelFilter](https://doc.rust-lang.org/log/log/enum.LogLevelFilter.html), which is missing in the docs. The link following from LoggerBuilder throws a 404 and you can't find it by search either.

[2017-05-26 19:34] sfackler commented on #47
Looks like the log crate moved their docs which broke links to the old location. Here's the new place to look: https://docs.rs/log/0.3.8/log/enum.LogLevelFilter.html

[2017-05-26 19:37] 0xpr03 commented on #47
Thanks, feel free to close it, if you don't want this as `to-do`.
I'll see if I find the correct line for a PR ;)

[2017-05-26 19:38] sfackler commented on #47
There isn't anything to fix on this repo - the documentation rendered with the documentation URL that log reported at the time of the log4rs 0.7 release.

[2017-05-26 19:38] sfackler commented on #47
There isn't anything to fix on this repo - the documentation rendered with the documentation URL that log reported at the time of the log4rs 0.7 release.

[2017-05-26 19:38] #47 closed

[2017-05-26 19:39] 0xpr03 commented on #47
Ah ok.

Thanks btw for Log4rs and even more for the Code-Example. I always like to have an default, hardcoded configuration as backup. (And the builder system makes completely sense, but is hard to "guess" without an example, so thanks.)

[2017-06-07 20:54] uwearzt opened #48 "Add PID to log pattern"
similar to i.e. log4perl

http://log4perl.sourceforge.net/releases/Log-Log4perl/docs/html/Log/Log4perl/Layout/PatternLayout.html

Maybe %P

[2017-06-12 09:54] uwearzt commented on #48
On which platforms should i test?

I will test MacOS, Linux and Windows 10. Is there a need for testing additional OS before submitting a pull request?

[2017-06-12 16:28] uwearzt opened #49 "Windows Test Problems"
[code]

I would like to add Appveyor to the build, so Win build fails would pop up immediately.

[2017-06-12 18:04] sfackler commented on #48
That seems like a reasonable set.

[2017-06-12 18:05] sfackler commented on #49
Yep, we should definitely have a Windows CI build! I'll set it up tonight.

[2017-06-12 18:06] uwearzt commented on #49
Already done, i submit a push request in a second ;)

[2017-07-03 23:04] Jascha-N opened #52 "Embedding logging configuration inside general configuration file"
Is it somehow possible to embed the log4rs configuration inside of a "main" configuration file? Perhaps an API that takes a YAML dictionary, TOML table or JSON object and returns a `Config`? I think it should be possible by serializing to a temporary file and calling `init_file` on the temporary file, but it's a little bit unwieldy. Alternatively I guess I could mimic log4rs' internal deserializat

[2017-07-03 23:34] sfackler commented on #52
You can embed a [`RawConfig`](https://docs.rs/log4rs/0.7.0/log4rs/file/struct.RawConfig.html) in your own config file and build up the logging config from that.

[2017-07-03 23:58] Jascha-N commented on #52
Thanks a bunch! I somehow completely missed that. This is a very solid library.

[2017-07-03 23:58] #52 closed

[2017-07-10 20:15] #49 closed

[2017-07-16 13:06] im-0 commented on #18
I've made appender based on libc's syslog() function: [https://crates.io/crates/log4rs-syslog](https://crates.io/crates/log4rs-syslog). It supports only linux and other unix-like systems (tested on macOS). Maybe someone will find it useful.

[2017-09-10 17:05] Restioson opened #54 "Use of `mut self` in builders"
Hi! It seems like log4rs uses `mut self` for many of the config builder methods (such as `.appender`). It seems that it is preffered to use `&mut self` for builders: https://aturon.github.io/ownership/builders.html#non-consuming-builders-(preferred):

[2017-09-10 17:15] sfackler commented on #54
You can use them in separate statements:

[code]

The config contains a couple of bits of owned/non-cloneable data so `build` can't take `&self` as the bottom of the section you linked discusses: https://aturon.github.io/ownership/builders.html#consuming-builders:

[2017-09-10 17:16] Restioson commented on #54
Yeah, sorry, got muddled on that bit 😅

[2017-11-27 04:03] wangzhanfeng310103 opened #56 "support stderr wirte to file appender?"
when i use file appender,it seems like just "stdout" write to log file ?when process panic, no record in the log file ,could log4rs support write "stderr" to log file?

[2017-11-27 05:21] sfackler commented on #56
You may be looking for https://crates.io/crates/log-panics

[2017-12-19 08:40] ttt307307 opened #62 "log4rs init_file error"
**my Cargo.toml **
[code]
**code**
#[macro_use]
[code]

but log4rs init_file error,
[code]

[2017-12-19 08:52] ttt307307 commented on #62
My fault!!! the location config/log4rs.yaml is error

[2017-12-19 08:52] #62 closed

[2017-12-25 02:20] #56 closed

[2017-12-25 02:21] #46 closed

[2017-12-25 02:21] #44 closed

[2017-12-26 13:22] HongxuChen commented on #21
@sfackler sometimes I hope the path is relevant to environment variables like `$HOME`, is it possible to specify it like `$ENV{HOME}` (to distinguish from other specified variables)?

[2018-02-08 08:46] dbrgn opened #63 "Deinitialize logger"
Is there a way to completely deinitialize a logger (basically the oposite of `init_config`), besides updating the handle with a `Config::builder().build(Root::builder().build(LevelFilter::Off)).unwrap()`?

[2018-02-08 21:25] sfackler commented on #63
That's probably the simplest way of turning off all log output, yeah.

[2018-02-08 21:27] dbrgn commented on #63
Will this leave any remaining state that should be cleaned up?

I'm asking because I'm integrating a Rust library using log4rs into a mobile app, and I want to make sure that everything's deinitialized when I'm not using the code anymore :)

[2018-02-08 21:30] sfackler commented on #63
There will be a little bit of state left lying around but it should be pretty minimal - maybe somewhere around 100 bytes?

[2018-02-08 21:37] dbrgn commented on #63
Ok, that should probably be fine.

It *would* be nice though to have a cleanup function to match `init_config` though, in case it's easy to implement 🙂

[2018-02-08 21:38] sfackler commented on #63
Such a thing existed in log 0.3, but was removed in 0.4 because it imposed a nontrivial cost on every log call.

[2018-02-08 21:41] dbrgn commented on #63
Ah, in that case it's probably a better tradeoff to just leave the state there :)

Thanks!

[2018-02-08 21:41] #63 closed

[2018-02-23 09:34] tekjar opened #64 "Toml config file in the docs doesn't work"
Hi. Toml example in docs throws lot of errors. I'll update this issue with exact errors in some time. Is there an example of using toml config file?

[2018-02-23 16:55] sfackler commented on #64
Which TOML example? I think all of the example config we currently have is YAML.

[2018-03-14 01:25] glam99 opened #65 "log level for appenders"
Hi,  is there any way to specify different log level by appenders at the root level?

[2018-03-14 01:39] sfackler commented on #65
Yep - you can add threshold filters to your appenders - take a look at the example here for reference: https://docs.rs/log4rs/0.8.0/log4rs/file/index.html

[2018-03-14 04:22] glam99 commented on #65
Thank you!!

[2018-03-14 04:22] #65 closed

[2018-04-07 08:48] Lukazoid opened #66 "Ron configuration format"
I am currently doing some development with the [amethyst game engine](https://github.com/amethyst/amethyst) in which all of the amethyst configuration is done via [Ron](https://github.com/ron-rs/ron) files. They currently use fern internally unless another logger is specified, I would rather use log4rs and would like it if my logging was configured the same way as the rest of the application via R

[2018-06-09 11:10] dkushner commented on #64
@sfackler: Perhaps not the appropriate issue to raise this, but I'm getting the following trying to deserialize a `Config` from TOML:

[code]

Unsure if I'm attempting this correctly, but I have the `toml_format` feature enabled in my dependencies. What am I missing here?

[2018-06-09 15:17] sfackler commented on #64
The `Config` type isn't deserializable - the `RawConfig` is: https://docs.rs/log4rs/0.8.0/log4rs/file/struct.RawConfig.html.

[2018-06-13 13:05] fdubois1 opened #70 "Configuration file directly in the crate"
It would be nice if we could init log4rs with a file in the crate.

It exists "std::include_str!" to get the content of a file then log4rs could read it.  I know that it is possible to configure it by code by building the config ourself, but would be useful to just add a yaml file to my crate and init log4rs with it.

Does it make sense ?
Thanks

[2018-06-13 15:57] sfackler commented on #70
You can deserialize the string into a `RawConfig` and then build the logger out of that: https://docs.rs/log4rs/0.8.0/log4rs/file/struct.RawConfig.html

[2018-06-13 16:59] fdubois1 commented on #70
But to be honest, I don't see how to build the RawConfig.  I saw in init_file that rawConfig is built like this : let config = format.parse(&source)?;

But Format type is private.  I don't see how I can build that RawConfig object. Sorry if it is a dumb question and thanks for your help.

[2018-06-13 17:01] sfackler commented on #70
RawConfig implements Deserialize (it unfortunately doesn't show up in rustdoc), so you'd just do `serde_yaml::from_string::<RawConfig>(my_config)`.

[2018-06-13 17:42] fdubois1 commented on #70
Ah, awesome, thanks a lot for your help !!!

[2018-06-13 17:42] #70 closed

[2018-07-23 09:45] woodgear opened #71 "how could i build config from str?"
in the pre version it has method config_from_str. but i could not find that now how could i init config from str?

[2018-07-23 22:31] sfackler commented on #71
You can use serde to deserialize the str to a [`RawConfig`](https://docs.rs/log4rs/0.8.0/log4rs/file/struct.RawConfig.html), and then build a configuration using that.

We should provide some explicit documentation/make this easier though!

[2018-08-15 07:25] qiuxiafei commented on #21
Something similar in java's log4j2: https://logging.apache.org/log4j/2.0/manual/lookups.html

[2018-08-17 16:48] mmrath opened #74 "beautify module truncation"
It would be nice to be able to truncate module names when they exceed configured limit in such a way that the full path can still be reasonably derived.

Lets say the module is `lettre::smtp::client` and configured max module length is `10` -> `{M:>10.10}`  then it oule be nice to get an output like `   l::s::client`

This is similar to what logback and other frameworks does.

[2018-08-17 17:54] sfackler commented on #74
Yeah that seems pretty reasonable! Is the "soft limit" usually configured separately from a "hard limit"? I can't remember how logback handles things specifically.

[2018-08-17 23:58] mmrath commented on #74
I think the hard limit is not strict. Each module except the last is reduced to one char at least and the last module (inner most) is never truncated.

https://logback.qos.ch/manual/layouts.html

[2018-08-18 05:52] sfackler commented on #74
Ah cool that makes sense. I think rather than special casing the normal length control formatters for the target and module paths, it might make more sense to add an optional length argument to them that behaves like the logback setup. `{M(10)}` would produce `l::s::client` while `{M:>10.10}` would still produce `lettre::sm`.

[2018-08-18 20:13] BinaryAura opened #75 "Won't compile in nightly"
log4rs fails to compile under 1.30.0-nightly-x86_64-pc-windows-msvc. Errors below:

error[E0658]: The attribute `serde` is currently unknown to the compiler and may have meaning added to it in the future (see issue #29642)
  --> C:\Users\jadun\.cargo\registry\src\github.com-1ecc6299db9ec823\log4rs-0.8.0\src\append\file.rs:25:1
   |
25 | #[serde(deny_unknown_fields)]
   | ^^^^^^^^^^^^^^^^^^^^^^^^^^

[2018-08-19 00:02] sfackler commented on #75
This is a rustc bug as far as I can tell, so I opened a bug there: https://github.com/rust-lang/rust/issues/53481

[2018-09-03 14:35] dtolnay commented on #75
Update from @petrochenkov in https://github.com/rust-lang/rust/pull/53587#issuecomment-417133541:

[2018-09-13 15:40] Boscop commented on #75
I'm running into the same error on `nightly-2018-09-13` even though that rustc issue should be fixed now..

[2018-09-13 15:52] dtolnay commented on #75
This was fixed in https://github.com/rust-lang/rust/pull/54086. The fix will be in nightly-2018-09-14.

[2018-10-16 22:39] paul-tcell opened #77 "0.8.0 version on crates.io has serde_yaml vulnerability"
`cargo audit` reports a vuln in serde_yaml.

This appears to be fixed here, but a new release hasn't been pushed to crates.io:
https://github.com/sfackler/log4rs/commit/f90ea13dc3367f33b40c64a4dc9626be7721df2e

Thanks :)

[2018-10-17 15:20] sfackler commented on #77
Published!

[2018-10-17 15:20] #77 closed

[2018-10-18 08:41] creativcoder opened #78 "API to dynamically change logger configuration post initialization"
Is there any convenient API that we can use after initializing the logger via `log4rs::init_file` call, to change any of the fields in the logger configuration, where i can pass only the field i want to update with a value ?

We have a use case, where we want to change the log level of our configured logger in our app from "info" to "warn" at runtime.

[2018-10-18 15:09] ltseeley commented on #78
I have a PR that I believe solves the same problem you are referring to: https://github.com/sfackler/log4rs/pull/73

[2018-10-28 04:29] jrmiller82 opened #79 "Docs: Add some docs to explain how to customize output"
For example, how to prepend a timestamp to log lines. Etc..

[2018-11-23 10:01] trsh opened #80 "[FR] Rolling files"
Logs tend to get huge, so it's good to have a logic and config that does:

1) Create a new log file with according date indication (for ex. one pet month - log_11082018.log)
2) Clean up logs older then... (in rare cases, logs older then year are of any interest)

[2018-11-23 10:01] trsh commented on #80
Pliizzzz

[2018-11-29 14:50] saarw opened #81 "RollingFileAppender rolls to the wrong directory"
I initialize a rolling file appender with the following code and the log path being an absolute path of app-home-dir/subdir/logs/logfile.log and it starts logging to the correct file, but the rolled files all end up at the working directory of my application app-home-dir/logfile.log.1, app-home-dir/logfile.log.2 etc.
[code]

[2018-12-10 06:05] ouwenkg opened #82 "Crossbeam version about log4rs"
Today，cargo audit reports this issue. I find crossbeam had developed to 0.5.0 in crate.io=. Thus , is there any plan to upgrade this crate?

D:	 RUSTSEC-2018-0009
Crate:	 crossbeam
Version: 0.3.2
Date:	 2018-12-09
URL:	 https://github.com/crossbeam-rs/crossbeam-epoch/issues/82
Title:	 MsQueue and SegQueue suffer from double-free
Solution: upgrade to: >= 0.4.1

[2018-12-11 17:16] paul-tcell commented on #82
The title doesn't express this, but this is a security vulnerability tracked by the rust sec advisory database  in crossbeam > 0.4.1

[2018-12-11 17:41] sfackler commented on #82
Sure, should be an easy PR.

[2018-12-13 13:38] saarw commented on #81
Problem was that I missed the pattern provided to FixedWindowRoller must include the full path for the rolled files, and not just a file name.

[2018-12-13 13:38] #81 closed

[2018-12-17 06:06] ChriFo commented on #82
@sfackler Please publish a new version.

[2019-01-21 10:40] gibfahn opened #84 "Where to add more examples"
This crate is awesome, but as a newcomer I struggled a bit to get what I wanted working.

I'd like to help the next person who comes along by adding more examples. However I'm not sure where you'd prefer they go.

I'm thinking the Wiki would be a good place, but maybe you'd prefer in an examples repo, or in the docs? I'm happy to submit PRs to wherever makes sense.

Links to existing examples woul

[2019-02-17 21:22] DigiTester opened #85 "Deleteing the active log file stops logging"
I have a cron job that zips up all my log files periodically (several programs with both text and binary logs). That moves the entire contents of the log directory, zips them up, then deletes them. Sadly log4rs does not cope with having an open file deleted, and that's the end of that, no more logging. Note that creating a new file with the same name does not fix the problem - log4rs has already g

[2019-02-17 21:57] sfackler commented on #85
I wouldn't say it's an invalid handle - it's a valid handle to a file that is no longer addressable through the filesystem.

[2019-02-18 00:10] DigiTester commented on #85
Fair point. Either way, any chance of a fix?

[2019-02-18 00:16] sfackler commented on #85
What is the proposed fix exactly? Opening the file every time we write a log line is an option, but that's going to be pretty brutal perf-wise.

You may want to make a custom appender that can interact with your cron job and be triggered to reopen its files on demand.

[2019-02-18 00:18] DigiTester commented on #85
I was thinking that if the log file write fails you might want to reopen the file. Just going off how everything else I use seems to cope, and the common use of log-rotating tools, it can't be a unique requirement.

[2019-02-18 00:24] sfackler commented on #85
The log write doesn't fail.

[2019-02-18 00:32] DigiTester commented on #85
The contents of the log file suggest otherwise. Or more accurately, the complete lack of existence of a log file in which the written content could be discerned suggests otherwise.
In my binary log I test (fwrite() != expected_write) and when that fails I reopen the file and re-write. Obviously as a modern C++ user I should be using an object wrapper where every operation is a single stream operat

[2019-02-18 00:43] sfackler commented on #85
I am not sure how much more plainly I can state this.

1. On Unix systems, you can have a handle open to a file that is not addressable through the file system (i.e. all hard links to it have been deleted).
2. That handle is still valid.
3. The file still exists on the filesystem.
4. Writes to the handle are still written to disk in that file.
5. On Linux, you can even access this file while it re

[2019-02-18 00:55] DigiTester commented on #85
Rust file writes can succeed even though the file doesn't exist. That's... not good. Adding a test for the output just via cat (windows code not tested):

use std::fs::{self, OpenOptions};
use std::io::{Read, Seek, SeekFrom, Write};
use std::process::Command;

fn main() {
    let path = "/tmp/foo";
    let mut file = OpenOptions::new()
        .read(true)
        .write(true)
        .create(true)

[2019-02-18 01:03] sfackler commented on #85
**This has literally nothing to do with Rust.**

This behavior is a property of the operating system. `unlink(2)` discusses this explicitly:

https://linux.die.net/man/2/unlink

[2019-02-18 01:11] DigiTester commented on #85
And it's a known problem for linux in general:
https://unix.stackexchange.com/questions/147938/rotating-log-files-while-process-still-running
https://stackoverflow.com/questions/6513186/how-do-i-create-a-logrotate-friendly-file-writer-in-java-or-other-platform

Wow, that's amazingly awful. I will have to go back and fix my code.

Does log4rs provide a suitable command for handling that? Viz, can I

[2019-02-18 01:15] sfackler commented on #85
One option would be to re-set your logger config to Handle on a signal. Appenders are closed and reopened when that happens: https://docs.rs/log4rs/0.8.1/log4rs/struct.Handle.html.

You could alternatively use copytruncate in logrotate as one of your links mentions.

[2019-02-18 01:20] DigiTester commented on #85
For my other code copyrotate plus big files that fill fast is pretty much the definition of things not to do. In the worst case I'd lose more data that way that just autorotating the way I do now. But for the little Rust experiment resetting the Handle will work. thanks.

[2019-02-18 06:12] #85 closed

[2019-02-19 09:17] zauberpony commented on #80
There is already a rolling file appender: https://docs.rs/log4rs/0.8.1/log4rs/append/rolling_file/index.html

On the other hand handling log file rotation is typically the job of [logrotate](https://github.com/logrotate/logrotate) or systemd/journald (whatever you use).

[2019-02-20 07:01] trsh commented on #80
@zauberpony how ist used? How to configure the rolling interval?

[2019-03-12 08:36] #82 closed

[2019-04-01 13:37] ErmeHarrier opened #86 "Latest version on crates (v0.8.1) has security vulnerabilities"
This appears to be fixed in master - is it possible to create a safe release with these updates?

crossbeam >= 0.4.1
serde_yaml >= 0.8.4
yaml-rust >= 0.4.1

Thanks for your work.

[2019-04-03 04:25] sfackler commented on #86
Done.

[2019-04-03 04:25] #86 closed

[2019-05-03 10:08] peterjoel opened #87 "Example for formatting timestamp"
My log looks like this:
[code]

Every time the microseconds ends in 000 (e.g. the second log line there), they are truncated to nearest millisecond, which messes up the readability of the log.

While it is possible to tweak the formatting, the default settings should give a fixed width.

[2019-05-03 14:26] sfackler commented on #87
You can control the formatting of the timestamp: https://github.com/sfackler/log4rs/blob/master/src/encode/pattern/mod.rs#L42

[2019-05-03 15:24] peterjoel commented on #87
I can't quite see how to change that. It seems to be formatted with just `{d}` by default and I can't see how to tune the microseconds. But I still feel like it is a bug that the _default_ format has variable width.

[2019-05-03 16:00] sfackler commented on #87
You can override the default and put whatever format you want. Alternatively, you can use fill/alignment to pad out the output to line up.

[2019-05-06 10:58] woodgear opened #88 "how to get Logger which impl Log::log trait?"

[2019-05-06 10:59] woodgear commented on #88
Logger is private

[2019-05-06 11:11] woodgear commented on #88
#71
[code]
this could not work cause Logger is private

[2019-05-07 06:04] #88 closed

[2019-05-07 06:05] #71 closed

[2019-06-07 18:23] johnwalker commented on #32
What are your thoughts on how this might be added to log4rs?

[2019-08-14 11:35] lebe-dev commented on #87
@peterjoel check format examples here
https://docs.rs/log4rs/0.8.3/log4rs/encode/pattern/index.html

[2019-08-30 21:22] naftulikay commented on #48
I have actually implemented this in #91 for `PatternEncoder` at least. Haven't heard anything back though.

[2019-09-14 13:59] calvinbrown085 commented on #79
+1 to this! I'd be happy to try out a JSON example.

[2019-10-11 04:25] estk commented on #84
@gibfahn great suggestion! Would you open a PR with this example in `/examples/<your_file_name.rs`?

[2019-10-11 04:32] estk commented on #75
Seems like this is fixed

[2019-10-11 04:32] #75 closed

[2019-10-11 04:34] estk commented on #74
@mmrath are you interested in implementing this?

[2019-10-11 04:35] estk commented on #64
Seems like this is resolved

[2019-10-11 04:35] #64 closed

[2019-10-11 04:37] estk commented on #54
Not sure this is still relevant in 2019... the blog post is gone though.

[2019-10-11 04:37] #54 closed

[2019-10-11 04:41] estk commented on #32
It seems like dumping to stderr has stood the test of time.

[2019-10-11 04:41] #32 closed

[2019-10-11 04:46] estk commented on #18
@im-0 If you're interested in merging log4rs-syslog into log4rs I'd be interested in helping with the effort. (Obviously behind a feature flag)

[2019-10-11 04:46] #18 closed

[2019-10-11 08:17] uwearzt commented on #48
Yepp #91 uses are modern API, dropped mine (#51) in favor of #91.

Maybe we could ask @sfackler if he is willing to add another maintainer.

[2019-10-11 16:18] estk commented on #48
@uwearzt sfackler has added me as a maintainer, I'm trying to help get #91 across the finish line. If you would, can you add a review of #91?

[2019-10-14 23:32] calvinbrown085 commented on #84
@gibfahn I'd be happy to add your example to the new /examples dir I created in my above PR. Is that alright? Or would you rather do it? :smile: i'm fine either way

[2019-10-15 07:12] gibfahn commented on #84
@calvinbrown085 please do!

[2019-10-15 13:51] estk opened #96 "Add CI task to check for editorconfig compliance"
Add CI task to check for editorconfig compliance

[2019-10-16 13:43] estk commented on #96
Yes please! The only thing is I don't see an editorconfig plugin for circleci so it seemed to me it will need to be hand rolled.

[2019-10-18 22:12] #84 closed

[2019-10-19 11:11] survived opened #99 "log4rs hides all information about its appenders"
I've discovered that it's currently impossible to retrieve any information about appenders. My case is a web server that should be able to give all logs on request. So I need look through `log4rs::config::Config`, find `log4rs::append::file::FileAppender` and get path to file it holds.

My suggestion: to cover this case, `log4rs::append::Append` should support [downcast mechanism](https://crates.i

[2019-10-19 15:22] estk commented on #99
@survived thanks for opening an issue. To clarify, you're not looking of all logs that the appender has written correct? You're just looking for the config file right? I would be happy to help you push a pull request through. Maybe you can start by having a look through the appender code and propose a change to the public api?

[2019-10-20 15:20] survived commented on #99
@estk Thanks for responding! Yes, you're right, I'm looking for the way to find out if FileAppender is present in log4rs configuration and get the path of file. I'll make all changes in api (I believe they're trivial) and ask you for review.

[2019-10-25 15:53] estk opened #101 "Cut new release"
Cut new release, remove the looking for maintainer badge, and update deps.

[2019-10-28 09:50] survived opened #102 "Support downcast machinery"
This requires to
1) Choose traits of log4rs which're needed downcasting.
I suggest implement downcasting, at least, for these traits which can be accessed through [`log4rs::config::Config`](https://docs.rs/log4rs/0.8.3/log4rs/config/struct.Config.html): `Append` and `Filter`.
2) Add [`Any`](https://doc.rust-lang.org/stable/std/any/trait.Any.html) as constraint of chosen traits and extend them with

[2019-10-28 15:56] estk commented on #99
Closing in favor of the more general #102

[2019-10-28 15:56] #99 closed

[2019-10-28 16:21] estk commented on #102
I hesitate to make a foreign trait part of our public api, which is why I suggest we simply rely on the [`Any`](https://doc.rust-lang.org/std/any/index.html) trait as the constraint which enables the downcast of Appenders.

The only thing required to enable downcasting is exposing the typeid of the concrete type. `Any` gives us that, and as far as I can tell downcast-rs is sugar around the Any tra

[2019-10-29 06:20] survived commented on #102
@estk Adding `std::any::Any` as constraint won't work. Please check [this gist](https://gist.github.com/survived/beb16f03cae2007fce5370041e32efd1) for example. To support downcast magic we need a downcast magical crate, there's no way to escape this.

[2019-10-29 17:15] estk commented on #102
Here's a [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=01c89c8b7e7eae5ad9b1455c1a8da710) to what I had in mind.

I totally get that it is easier to use the downcast crate but my primary concern here is involving a foreign crate in our public interface. Using downcast-rs would totally be appropriate if the interface was private and the `Downcast` constrai

[2019-10-30 03:37] SharpKnifer opened #103 "Is there any way to encrypt log easily?"
I am using rust to develop client application. And use this library to write my log file.But I can not find any way to encrypt my log. I hope someone can help me.Thanks.

[2019-10-30 07:08] survived commented on #102
Oh, ok, now I understand your idea, thanks. Yep, having no dependency on other crate is totally greater solution.

[2019-10-30 07:53] survived commented on #102
However, notice that support downcast in this way has disadvantages:
 - Implementing 'dowcastable' traits requires writing `as_any` (`as_any_mut` ?) manually which is most likely a copypaste;
 - Theoretically implementation could break 'return self' rule and return something else.

Downcast crate allow us to use Layer Supertype pattern to avoid this problems. But I agreed that avoiding dependencie

[2019-11-11 17:21] estk commented on #103
Hi @SharpKnifer ,
I think the way you'd want to do this is to create a custom `Appender` such as `EncryptedFileAppender`. If you're interested in contributing here I would be more than happy to help in any way I can with a PR.

[2019-11-25 21:48] #103 closed

[2019-11-28 02:21] calvinbrown085 commented on #101
@estk Can I help with this in any way?

[2019-11-29 19:54] estk commented on #101
done

[2019-11-29 19:54] #101 closed

[2019-11-29 19:57] #48 closed

[2019-11-29 19:59] estk commented on #66
The PR was closed for inactivity, doing the same here

[2019-11-29 19:59] #66 closed

[2019-11-29 19:59] estk commented on #74
Closing for inactivity

[2019-11-29 19:59] #74 closed

[2019-11-29 20:00] estk commented on #78
Closed by #73

[2019-11-29 20:00] #78 closed

[2019-11-29 20:00] estk commented on #79
closed by #94

[2019-11-29 20:00] #79 closed

[2019-11-29 20:01] estk commented on #96
Going in a different direction with this

[2019-11-29 20:01] #96 closed

[2019-11-29 20:04] estk opened #105 "Badges in readme"
Add all the normal badges on the readme

[2019-11-29 20:04] estk opened #106 "Change to rust 2018"

[2019-11-29 20:05] estk opened #107 "Address the typemap warning"
[code]

[2019-12-02 04:20] calvinbrown085 commented on #87
I'll look at adding an example for this one.

[2019-12-03 18:55] crusty-dave opened #109 "How do I set a pattern for stderr?"
I am not sure where to post a general question like this, so posting here.

The following is the example for a file, but I cannot figure out how to set it for ConsoleAppender, or if I should use FileAppender, if so, how to point FileAppender to stderr?

[code]

If this isn't the right place for this question, I suggest that you add a pointer to the correct place on the Wiki.

Thanks,
-Dave

[2019-12-04 16:39] estk commented on #109
Hi Dave,
I'd love to help, I'm a little unclear on what your goal is. Are you just looking to log everything to stderr? If so you would use the ConsoleAppenderBuilder to specify the stderr target. Check out the [docs](https://docs.rs/log4rs/0.9.0/log4rs/append/console/struct.ConsoleAppenderBuilder.html#method.target.

[2019-12-04 19:45] crusty-dave commented on #109
Hi @estk,

Thanks for your help, that link pointed me in the right direction, it looks like the following is what I needed:

[code]

Thanks again,
-Dave

[2019-12-04 19:45] #109 closed

[2019-12-04 23:42] crusty-dave opened #110 "How to get level to apply to specific target"
With the following example:

[code]

Should the following filter that out?

[code]
If "input_events" is set to Error, then I would assume that the warn!(target: "input_events", ..." would not be logged.

I can't seem to get that to work, not sure what I am misunderstanding?

[2019-12-05 22:51] crusty-dave commented on #110
I figured out my issue, by default, the target is "app::module", if you specify the target in the macro, then it is **only** the string defined by target, not including "app::".

[2019-12-05 22:51] #110 closed

[2019-12-08 15:49] calvinbrown085 commented on #107
@estk Where is the code associated with these warnings?

[2019-12-10 17:23] estk commented on #107
@calvinbrown085 I get the warning on the first line of src/lib, it is from the typemap crate. However, after a bit more research, it seems that maybe this warning will go away at some point..

See:
https://github.com/reem/rust-typemap/pull/44
https://github.com/rust-lang/rust/issues/51443

[2019-12-11 22:10] wooleyra opened #111 "Support logging function name"
I would like to be able to log the name of the function name from where the logging request was issued (similar to log4j). For example, if the pattern were {F} where F is the function name, the following log call would produce "main":
[code]

It would also be nice if associative and static functions could log the data name for which they are implemented. For example, the following would log someth

[2019-12-11 23:03] codehearts opened #112 "Fixed-window rolling file pattern is not documented as being a relative path"
I'm ok with this being closed as "wontfix" if I'm misreading something, but the documentation should probably mention that the pattern for a fixed-window rolling file is a path

I recently ran into an issue where our log file was `/var/log/myservice.log`, but our rolled logs were in `/app/myservice.0.log` because we thought `pattern: myservice.{}.log` was a pattern against the log file, not a path

[2019-12-12 04:11] estk commented on #112
Hi @codehearts,
Thanks for opening this issue, I can see how that would be confusing. Clarifying the path that the roller pattern is relative to seems like a great idea. In fact it might be interesting to also add the note to the `FixedWindowRollerBuilder` as well.

Would you be willing to add those two things to the docs? Happy to help if you have any questions along the way!

[2019-12-12 04:21] estk commented on #111
Hi @wooleyra ,
Thanks for filing this issue, unfortunately I think this is out of scope for us since the `log` crate would need to provide that information. I would otherwise recommend filing an issue there, however with a bit of googling, I found [this issue](https://github.com/rust-lang/rfcs/pull/2818) which suggests that what you'd like is currently not possible.

But there is good news, you ca

[2019-12-12 04:46] codehearts commented on #112
It’s not a difficult fix, I should be able to get a PR up tomorrow! I’ll look around and see if any of the other docs could use some polish, it might also be nice to have a central location which shows all possible config options

[2019-12-12 05:13] estk commented on #112
Awesome! Lmk if you have any questions.

[2019-12-12 18:01] wooleyra commented on #111
@estk ,
I appreciate you looking further into this. I was not aware that the function!() macro was not yet available. I see that it is a feature with a long history (going back to this 2014 [pull request](https://github.com/rust-lang/rfcs/pull/466)), but there is still currently a pull request available in the issue you referenced and will hopefully make this feature a possibility soon.

I am awar

[2019-12-17 01:33] calvinbrown085 commented on #112
@codehearts If you have any better ideas for organizing the examples, please let me know!

[2019-12-17 02:36] codehearts commented on #112
I’m thinking the main docs can mention what functionality is available, and then link to the Deserializer docs for more info. I had a lot of trouble finding where some features in my config were documented because the search doesn’t seem to find results in the body text

[2019-12-17 17:16] #105 closed

[2019-12-17 17:16] #106 closed

[2019-12-23 19:33] calvinbrown085 opened #114 "Allow the support of formatting JSON"
Currently, I don't believe if you use the JSON encoder, you can format it, it would be awesome if this was the case.

[2019-12-23 19:34] calvinbrown085 commented on #114
It could possibly look something like this
[code]

[2019-12-24 16:19] teknopaul opened #115 "does not seem to be an isDebugEnabled() equivalent"
It would be good to be able to use a packages log level as a switch for certain more expensive code.

If there is a method already to do this it could do with documentation or an example in the src/examples/ section or md docs.

[2019-12-24 20:40] estk commented on #115
Hi @teknopaul , I'm having a hard time understanding the request. Do you have a minimal example that you can share? I'd love to help.

[2019-12-27 12:25] teknopaul commented on #115
Hi,

each log level has a switch in java's log4j. Typically used to limit calculations that will not be printed. But can be used to limit other code.

if (LOG.isDebugEnabled()) {
   LOG.debug(calcDebugData());
   sendDebubMsg();
}

I could not find a equivalent in log4rs. The seems to be a max_log_level() switch but ai think this is global rather than the logger of the current package.

[2019-12-27 17:40] estk commented on #115
@teknopaul ah, that makes sense. That functionality is provided by the log facade we use called log. I think what you're looking for is [log_enabled](https://docs.rs/log/0.4.10/log/macro.log_enabled.html)

[2019-12-31 02:22] retep998 opened #116 "Does not build on Windows"
Latest master as of writing this issue.
Please add CI for Windows. Thanks.
[code]

[2019-12-31 19:00] teknopaul commented on #115
OK that's what I'm looking for.  This issue now comes up for a search on "isDebugEnabled log4rs" no need for more docs.

[2020-01-03 12:15] zhuxiujia opened #118 "requests.log is empty"
#  yaml
[code]
#rust
[code]

nothing info in requests.log....

[2020-01-03 12:20] #118 closed

[2020-01-11 20:13] crusty-dave opened #119 "Question: how to dynamically add to ConfigBuilder"
I tried the following with the example, it doesn't work.

[code]

It always complains about the move, even if I use borrow_mut().  Hopefully there is a way to do this?

[code]

[2020-01-11 20:18] crusty-dave commented on #119
Using borrow_mut():

[code]

[code]

[2020-01-17 00:48] crusty-dave commented on #119
Is this a bug?

[2020-01-20 16:52] AvishaiW opened #120 "Duplicate file definitions when defining a rolling file"
I'm trying to create a rolling file appender with 3 files debug.{}.log 0,1 and 2.
However, when running on the following code
[code]
I get an extra file in the location of the path given to `RollingFileAppender`'s build method, meaning:
[code]
Is there a way to avoid creating the file in the path given to the builder? I want files created only from the `WindowRoller` (without the `logfile`).
I not

[2020-01-28 17:09] estk commented on #116
Hi @retep998 thanks for reporting this, and apologies for the delay, I'm just catching up after the holidays. This issue is at the top of my list.

[2020-01-28 17:12] estk commented on #119
@crusty-dave I think the problem is that the var `config_builder` is not in fact a `ConfigBuilder`, since you've already `.build()` on it. Removing the `.build()` should set you straight.

[2020-01-28 17:13] estk commented on #115
fixed

[2020-01-28 17:13] #115 closed

[2020-01-28 17:14] estk commented on #112
@codehearts im going to close this for now, but if you're still interested in adding docs lmk, I'd love to help and super appreciate any help!

[2020-01-28 17:14] #112 closed

[2020-01-28 17:15] estk commented on #102
@survived closing this for now, happy to reopen if you're interested in putting together a pr

[2020-01-28 17:15] #102 closed

[2020-01-28 17:16] estk commented on #107
seems like its resolved itself

[2020-01-28 17:16] estk commented on #114
@calvinbrown085 still interested in this?

[2020-01-28 17:21] calvinbrown085 commented on #114
I am, but my time may be odd the next couple week so if someone wants to pick it up that's fine.

[2020-01-28 17:27] crusty-dave commented on #119
Sorry, I should have closed this, the issue is that is that the following doesn't take &mut self):

`pub fn appender(self, appender: Appender) -> ConfigBuilder
`

Here is the fixed code:

[code]

[2020-01-28 17:27] #119 closed

[2020-01-28 17:34] estk commented on #120
@AvishaiW can you debug print the `Config` in question?

[2020-01-28 18:14] AvishaiW commented on #120
@estk here:
`
Config { appenders: [Appender { name: "logfile", appender: RollingFileAppender { path: "logfile", append: true, encoder: PatternEncoder { pattern: "[{d(%Y-%m-%d %H:%M:%S)}] [{t}] {l:5.15} {M} -- {m}{n}" }, policy: CompoundPolicy { trigger: SizeTrigger { limit: 5120 }, roller: FixedWindowRoller { pattern: "/root/logging/debug.{}.log", compression: None, base: 0, count: 3 } } }, filter

[2020-01-29 00:46] estk commented on #120
@AvishaiW actually, would you mind pretty printing that: "{:#?}" is the pattern.

[2020-01-29 05:25] estk commented on #120
@AvishaiW
1. You should be able to do that, you would replace "logfile" with "debug.0.log" and then when [building](https://docs.rs/log4rs/0.9.0/log4rs/append/rolling_file/policy/compound/roll/fixed_window/struct.FixedWindowRollerBuilder.html) your roller, you would set the base to `1`. Personally I like to have my current log file totally separate from the archive and usually have them get rolled

[2020-01-29 05:31] estk commented on #111
Blocked on [rust: get current fn name](https://github.com/rust-lang/rfcs/pull/2818)

[2020-01-29 06:49] estk commented on #116
After about an hour of research, I'm no closer to figuring out how to run a windows CI build... any ideas?

[2020-01-29 08:34] AvishaiW commented on #120
Great! Thank you very much.
It's much clearer to me now.

[2020-01-29 08:34] #120 closed

[2020-01-29 16:00] retep998 commented on #116
Both Appveyor and Github Actions support native Windows CI.

[2020-01-29 18:02] estk commented on #116
Closed by #122 and #121

[2020-01-29 18:02] #116 closed

[2020-01-29 18:04] estk opened #123 "Remove Circle CI"
We'll need to port the checks from circle ci over to github workflows

[2020-01-29 23:04] estk commented on #123
closed by #124

[2020-01-29 23:04] #123 closed

[2020-01-30 17:57] estk opened #125 "Add an example using tokio_tracing"

[2020-02-08 13:42] zhuxiujia opened #126 "Add future async await support"
Add future    async await support

[2020-02-08 15:41] estk commented on #126
@zhuxiujia this is in progress, would you like to help?

[2020-02-08 17:58] zhuxiujia commented on #126
yes , in my  project  ,log output Consume 30% performance
if support async and await  maybe Improve performance

### this is the Apache ab  tool  benchmark result

if enable the log
[code]

if    disable the log
[code]

[2020-02-17 01:16] woodgear opened #127 "Init logger from config string"
for now if we want to init logger from str we can only do.
[code]
which is to complex, is there someway better?

[2020-02-21 16:21] estk opened #129 "Drop XML config support"
I've never seen anyone using xml config for a rust project config. I'd like to drop support. We can deprecate the use to start.

[2020-02-21 16:23] estk opened #130 "Rename `file` feature"
Candidates:
- string_config
- config_deserialization

Also, make the config format features require this feature (previously known as "file"

I'd love some opinions on this.

[2020-02-21 16:27] estk opened #131 "Expose external errors as `failure::Error`"

[2020-02-21 19:03] estk opened #133 "Add benches around rotation lag"
Use this as base https://github.com/yakov-bakhmatov/log4rs-benchmark

[2020-02-21 19:22] estk commented on #127
@woodgear I totally agree that this should be a provided function. Basically we want something like the [load_config](https://docs.rs/log4rs/0.10.0/log4rs/fn.load_config_file.html) function but which takes a `RawConfig` as argument instead of a `Path`.

Is this something that you'd be interested in contributing?

[2020-02-22 18:05] estk commented on #126
In the mean time @zhuxiujia I recommend disabling the gzip feature.

[2020-02-23 21:24] estk opened #135 "Replace tempdir with tempfile"

[2020-02-25 06:33] Silentdoer opened #136 "Support for time version 0.2.7？"
Support [time@0.2.7](https://docs.rs/time/0.2.7/time/)

[2020-02-26 06:00] estk commented on #136
I would love to, however chrono uses [time 0.1.39](https://github.com/chronotope/chrono/blob/5ca6ff5/Cargo.toml)

[2020-02-29 05:35] gadunga commented on #130
how about extern_config?

[2020-02-29 05:39] gadunga commented on #130
string_config seems like it'd control something that just loads a config from an actual string and not a file.

config_deserialization was also my first thought, but I'm not sure if there's some idiomatic thing about feature name length.

[2020-02-29 19:15] estk commented on #130
What about config_parsing?
On Feb 28, 2020, 21:39 -0800, Richard M. <notifications@github.com>, wrote:

[2020-02-29 22:31] gadunga commented on #130
So config_parsing seems alright. However, thinking about it, the intent is to essentially make the importing of serde optional. This may sound kind of dumb, but maybe we just call it `use_serde` or something?

Although the usage of serde and file-based configs are pretty intertwined and having a feature flag called `use_serde` turn off file based configs seems weird too.

I mostly bring these thin

[2020-02-29 23:26] estk commented on #130
Thats a really good point. I think we should see if just “serde” works. Cargo automatically will use the dep that has the feature name if its identical to the dep name. There might be more to it, but i dont think so.
On Feb 29, 2020, 14:31 -0800, Richard M. <notifications@github.com>, wrote:

[2020-03-10 01:59] estk opened #140 "Add warning in docs about lag when using gzip"

[2020-03-10 02:08] SSebo opened #141 "Time trigger"
There is a need when you have some thing to log which should be keep for some days, but you can not estimate the size it will be (for example user online duration). If you use the size roller, the size may be small and log will be removed. A time roller would be nice to handle this thing.

[2020-03-10 02:49] estk opened #142 "Enhance benchmarks"
Would be great to make the benchmarks for rotation finer grained. We could also break out expected anomaly average vs normal average and assert on that. Might be nice to test other appenders.

[2020-03-10 06:21] #133 closed

[2020-03-10 06:21] #135 closed

[2020-03-10 18:36] estk opened #143 "Add prelude module for easy imports"

[2020-03-10 19:25] #140 closed

[2020-03-11 05:07] estk commented on #131
closed by #138

[2020-03-11 05:07] #131 closed

[2020-03-11 05:13] estk opened #146 "Remove serde_derive"

[2020-03-11 05:18] estk commented on #130
Looked into it, config parsing is more than just adding serde, it adds a few other deps. I think embedding serde in the feature would be misleading. For the same reason, not really into extern_config. I think we're down to:

- config_parsing
- config_deserialization
- string_config

I think `config_parsing` is my fav because thats how I would naturally explain the feature when telling someone abou

[2020-03-11 17:03] estk commented on #146
closed by #147

[2020-03-11 17:04] estk commented on #129
Closed by #137

[2020-03-11 17:04] #129 closed

[2020-03-11 17:04] estk commented on #130
closed by #147

[2020-03-11 17:04] #130 closed

[2020-03-11 17:05] #146 closed

[2020-03-11 18:00] estk opened #148 "Final audit before 1.0"
Last task before release

[2020-03-12 02:35] estk commented on #21
If anyone is still interested in this speak now, but ow. I'll just close this.

[2020-03-12 02:37] estk commented on #17
Does anyone still care about this? I'm going to close if not.

[2020-03-12 02:47] estk commented on #87
For future reference the time can formatted with an [encoding pattern](https://docs.rs/log4rs/0.11.0/log4rs/encode/pattern/index.html#formatters). The timestamp token: `{d}` accepts as argument a `strftime` pattern which is defined by [chrono's strftime](https://docs.rs/chrono/0.4.11/chrono/format/strftime/index.html).  An example taken from the docs is `{d(%Y-%m-%d %H:%M:%S)}`

[2020-03-12 02:47] #87 closed

[2020-03-12 02:57] estk commented on #107
We could steal this:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=57be6b5552a356035374b474df3fd901

from here:
https://github.com/http-rs/tide/issues/5

implemented here:
 https://github.com/http-rs/tide/pull/109

[2020-03-29 19:33] gadunga commented on #21
Would it be enough to just expand environment variables in the path when a FileAppender/RollingFileAppender is built?

[2020-03-29 23:39] estk commented on #21
@gadunga I think that makes sense.

[2020-04-04 07:12] estk opened #151 "Add testing and linting of each individual feature to CI"

[2020-04-04 08:55] #151 closed

[2020-04-04 17:25] gadunga commented on #127
#150

[2020-04-04 18:24] estk commented on #127
Thanks @gadunga

[2020-04-04 18:24] #127 closed

[2020-04-04 18:28] estk commented on #148
@gadunga wanna pair on this?

[2020-04-04 19:28] gadunga commented on #148
Sure, I can take a look. I'd like to try and get #21 in as well. What do you think?

[2020-04-04 19:33] estk commented on #148
Ya that sounds good.

[2020-04-04 22:44] gadunga commented on #148
Made a comment and opened an MR to remove log4rs::FormatError::XmlFeatureFlagRequired.

[2020-04-21 09:36] yaworpetrov commented on #17
I recently moved to this crate due to the support of both console and file logging and I can confirm that the blue color is really unreadable on my term as well with default color settings, so i don't believe this matter should be closed.

The colors should either be updated with the same as env_logger (I was previously using that crate) or they should have the ability to be configurable. So far I

[2020-04-24 16:55] estk commented on #21
closed by #155

[2020-04-24 16:55] #21 closed

[2020-04-29 16:34] lucassith opened #161 "Add logger example to examples."
Hello everyone.

I would like to ask for an example of using logger configured in Config::builder. I have a following example from your documentation.

[code]

Since there is only a one appender in the build function it will print the "some log test" message to the stdout only.
However by reading the docs I found out that there is a possibility to use a specific logger. I would gladly use the know

[2020-04-29 16:52] estk commented on #161
@lucassith the "app::requests" log corresponds to your crate's module app::requests, and is inferred by the log macros.

You can also manually set the target with the [log macros](https://docs.rs/log/0.4.10/log/macro.info.html). In that case you would probably want to name the logger just "requests".

Hopefully that helps.

[2020-04-29 16:54] lucassith commented on #161
Ahhh... okay. I understand it now. Thank you.

[2020-04-29 16:54] #161 closed

[2020-05-16 11:13] nakshay opened #164 "Reexport macros for logging"
Since users are going to use these anyhow, why not to export some basics enums and macros from log4rs itself.

I am new to rust and trying to use log4rs and stuck at the error line, I think this can be easily fixed by re-exporting some basic items from log crate.

[code]

[2020-05-17 04:53] estk commented on #164
It would be helpful to have more context... but my first guess would be that you need to `cargo add log` in your project directory.

[2020-05-17 06:23] nakshay commented on #164
Yes, you guessed it right, I am still learning rust maybe I'm not choosing right words to explain the problem, sorry about that.

[2020-05-17 16:01] estk commented on #164
np! glad you got it sorted

[2020-05-17 16:01] #164 closed

[2020-05-21 09:30] corebreaker opened #166 "Completing the examples"
Examples are not exhaustives.
In README we see the configuration:
[code]

But, how to use all loggers in a same application ? (here: `app::backend::db` and `app::requests`)

[2020-06-05 06:56] Ruijuan-Cao commented on #114
It will be better to support add custom key when using JSON encoder, it will be able to link Filebeat and ELK Stack directly for analysis.
- Thanks.  Alex

[2020-06-05 17:08] estk commented on #114
@Ruijuan-Cao can you give an example?

[2020-06-10 06:33] Ruijuan-Cao commented on #114
Firstly, thanks for your reply, and I'm very sorry to see this so late.
For example, I need a new customized key-value "type-xxx“ in log for analysis, I didn't find any guidance document to add a new key, so I tried to pretend like that by this
[code]
 but all msg including double quotation marks is treated as message by escape character.
And the output is shown below：
[code]
but what I want is li

[2020-06-29 11:42] tolien commented on #17
Colour (!) me interested in this too - like @Dango-rs, I'm moving from another log framework which exposed this feature and this would be nice to have.
If there's interest in taking it, I could look at putting together a PR to implement it?

I'm thinking I'd want to look at adding some sort of mapping from level to colour in PatternEncoder as a first step, then expose that as a configuration item.

[2020-07-01 05:46] rakshith-ravi commented on #148
Just a suggestion, but can we remove all `Box<dyn Trait>` instances and make them as generic parameters instead? `Box`s get allocated in the heap and heap access is almost always slower than stack access. So it would significantly improve performance as well as help clean up the code (now that we don't have to do all those `Box::new`s any more). Generic parameters make it a lot more easier to have

[2020-07-03 02:49] Jeeesie opened #169 "How can I log the line index of the ERROR ?"

[2020-07-09 07:35] ngugc opened #170 "Sometimes the thread name is wrong in the log"
The attachment test3.zip contains a rust project with two mods.
Each of these two modules has a "connect" function, which creates a named thread in which it connects to "wss: //echo.websocket.org" and sends a ping every second. The websocket server will response with the same message.
Except for the names, these two mods are almost the same.

log4rs is used in the project:

[code]

Sometimes the t

[2020-07-15 08:30] Silentdoer commented on #111
please consider function_name macro from stdext-rs

[2020-07-16 18:17] SarthakSingh31 opened #171 "Add the ability to combine Configs and ConfigBuilders"
It would be handy if the config builder could consume already created configs and config builders.

It will allow frameworks to consume a user created configuration in their initialization and then append their needs to it before initializing log4rs.

What it would look like:
[code]

[2020-07-16 19:02] SarthakSingh31 commented on #170
I don't have much experience with async_std but I think this is probably caused by it.
If you add `println!("On thread: {}", std::thread::current().name().unwrap_or("unnamed"));` before line 30 in mod1 and mod2. You will see that the info macros are running on the threads that they are reporting.

[2020-07-20 08:47] yatesco opened #172 "Safe for concurrent writes by separate processes?"
Hi there - thanks for this crate.

Is it safe to share the same config, and therefore the same log file sinks for multiple distinct OS processes running in parallel?  Does this crate do anything to serialise writes on the file itself, even if those writes come from independent processes?

I have many micro services and rather than each have their own output I would like them to share a single conf

[2020-07-20 16:23] estk commented on #172
@yatesco, have you tested this? My guess is that it will not work due to write locks that are taken on the files. I would suggest that instead of configuring with a file, configure programmatically and use env vars or cli params to write to different locations on disk. The other thing, is that if you're using docker, you could have the files written to the same place (and hence the config would re

[2020-07-20 16:24] yatesco commented on #172
That's very kind @estk, but it's all good. It was a "grasp at straws" anyway :-). Closing for now.

[2020-07-20 16:24] #172 closed

[2020-07-20 16:33] estk commented on #171
Hi @SarthakSingh31 ,
Thanks for the suggestion. I have a few questions about the proposal. How would you handle precedence of the config options? For instance would `combine` overwrite every option in `self` that is defined in `config`? I think the same question stands the `build_with` method. What would you think about dropping the `build_with` method and creating an `impl Into<ConfigBuilder> for

[2020-07-20 16:35] estk commented on #170
@ngugc did @SarthakSingh31's comment resolve your issue?

[2020-07-20 16:39] estk commented on #169
@Jeeesie apologies for the delay. I don't understand your question, are you asking how you log the line number where you called the `log::error("foobar");`?

If so, you'll just need to add: `{L}` into your [pattern encoder](https://docs.rs/log4rs/0.12.0/log4rs/encode/pattern/index.html#formatters).

[2020-07-20 16:46] estk commented on #166
@corebreaker apologies for the delay. Could you restate the question? In the given configuration app::backend::db and app::requests are "being used" but only on those modules. For instance:
[code]

[2020-07-20 18:09] corebreaker commented on #166
If i understood, in the config file, the `loggers` section (the list of loggers) with the `app::` prefix, define the scope where log macros `log::*` are used.
What are the rule of this scoping, does it work for sub modules: `mod requests { mod dummy { log::info("yeah"); } }`, or only for the exact module (`requests`, not `requests::dummy`) ?
II admit that it's not intuitive. Yes, i'd be appriciabl

[2020-07-20 18:12] corebreaker commented on #166
Hi @estk , thank you for the answer.
If i understood, in the config file, the `loggers` section (the list of loggers) with the `app::` prefix, define the scope where log macros `log::*` are used.
What are the rule of this scoping, does it work for sub modules: `mod requests { mod dummy { log::info("yeah"); } }`, or only for the exact module (`requests`, not `requests::dummy`) ?
II admit that it's

[2020-07-20 18:42] estk commented on #166
@corebreaker your `dummy` example would match, ie it does not need to be exact. That is implied [here](https://docs.rs/log4rs/0.12.0/log4rs/#configuration) and for sure could be stated more plainly.

Would you mind updating the doc with a more explicit explanation?

[2020-07-20 21:40] SarthakSingh31 commented on #171
I think `Error::DuplicateAppenderName` or `Error::DuplicateLoggerName` should be returned when there is a conflict. It could lead to confusing behavior for the users if the library decides which config to overwrite.

I don't think `Into<ConfigBuilder> for Config` will work. The conversion somehow needs to pass the root in the build function which cannot be stored inside ConfigBuilder struct. I can

[2020-07-21 00:12] ngugc commented on #170
Yes, it's caused by asyn-std.
I though it was like C++'s coroutine, but it's not.
The task is not bound to the thread who creates it.

Thanks! @SarthakSingh31 . I'll try if tokio has the same behaviour.

[2020-07-21 04:09] estk commented on #170
Glad to hear it.

[2020-07-21 04:09] #170 closed

[2020-07-22 02:06] jmrgibson commented on #171
I would also like this feature. I like consuming the log4rs yaml file at runtime, because it allows changing the logging config without recompiling, but I often have some part of the logging configuration (Eg the path for a file log) that can only be determined at runtime (eg, its based on the current working directory). At the moment, there is no good way to do this. I can also help with the PR i

[2020-07-22 06:12] corebreaker commented on #166
Ok, acter i analysed the code to extract the rules.

[2020-07-22 07:22] estk commented on #111
For those just arriving, the current state is we're blocked by the `log` crate not passing to us the function name (which is unlikely to happen ever.)
If you'd like to add function name context to your log messages, I would suggest creating a wrapper around the `log::info!()` and etc which would call the unstable `function!` macro or use as @Silentdoer suggested [stdext's `function_name!`](https:/

[2020-07-22 15:53] estk commented on #148
@rakshith-ravi I take your point, and I've thought about it myself. I worry that with such a large change to the config api we would split the ecosystem of log4rs users and plugins.

[2020-07-22 17:48] rakshith-ravi commented on #148
Well my thinking was that before we hit 1.0 is the best chance for us to make any breaking changes. Once we hit stable 1.0, it'll become difficult to undo these and we wouldn't want it to become a performance bottleneck because of such a silly thing, which we could've changed

[2020-08-15 20:37] mscofield0 opened #177 "How do you change the date format?"
I might've missed it in the docs somehow, but I can't seem to find how to specify a custom date format instead of the default one.

[2020-08-16 04:11] estk commented on #177
This should set ya straight:
https://docs.rs/log4rs/1.0.0-alpha-1/log4rs/encode/pattern/index.html#formatters

[2020-08-16 20:05] mscofield0 commented on #177
Thanks, no idea how I missed that.

[2020-08-16 20:05] #177 closed

[2020-08-26 03:33] maicallist opened #178 "Setting permission of log files"
Our application is running under a no-login/no-shell user on linux, log files' owner and group are all belong to that user.
Right now we have to view logs with sudo which is less ideal.
Is there a way to control permission of log files?

Thanks.

[2020-08-26 12:38] wahur666 opened #179 "Unclear documentation"
Hi!

I'm trying to setup a multi logger configuration

[code]

and after reading the docs, still unclear what is purpose of this

[code]

Why is the level filter provided in the root builder, if we configure it with the appender beforehand?

[2020-09-06 17:27] pm100 opened #180 "message dedup"
I have an project with a very noisy log. So I have added dedup facility to log4rs. ie you get this

[code]
Would you like the code for this. At the moment I only added it to the file appender. I am not 100% happy with how it fits into the code, there is a common helper that has to be added to each appender (I tried as a filter but no go)

[2020-09-21 15:28] calvinbrown085 commented on #114
Sorry, been away for a while. I still think this would be a great thing to have. Everyone else still interested @estk @Ruijuan-Cao ?

[2020-09-28 19:40] estk commented on #148
@rakshith-ravi I spent some time investigating this, there's just no way to do it since we need to hold heterogeneous collections of `Append` and `Encode` impling types. The reason we cant just hard code these is because the api is extensible and we dont know all possible `Append` etc types up front.

[2020-09-29 05:52] rakshith-ravi commented on #148
Ahh, I suppose that makes sense. Generics don't really work out when we need a collection of multiple items of different size. Looks like `Box` is our only way to go. Thanks for considering it and attempting to fix it through :D

[2020-10-01 04:30] judemille opened #184 "Highlight doesn't reset style for trace/trace color is unreadable"
#167 added a color for trace, but didn't add a match arm to reset the style. This results in all text after a highlighted trace being black. Also of note is that in a dark terminal, the trace highlight is unreadable. I would suggest putting no coloring on it at all if it's going to be black or white.

[2020-10-01 05:45] estk commented on #184
@IceSentry any idea about this?

[2020-10-02 15:31] IceSentry commented on #184
@judemille do you highlight the entire line when logging?

The PR was meant to use the same color as env_logger because the original weren't distinctive enough (red for ERROR and WARN), which look fine in a dark themed terminal if it's not the entire line that's being highlighted. I think the best fix for this would be to just make it configurable. As a temporary fix you might want to not highligh

[2020-10-02 20:25] calvinbrown085 opened #185 "Make `Message` type configurable for outside users."
https://github.com/estk/log4rs/blob/4b9909dc027dfac9625f6a60c27109e96598e5a2/src/encode/json.rs#L71

I have a use case were I'd like to omit some fields from this message, and hard-code others like `app-name`

Would it be possible to have someone be able to pass in a type there?
[code]
As an example?

[2020-10-03 19:08] judemille commented on #184
My config is `"{h({l})} {d} {t} {M} - {m} {n}"`
![image](https://user-images.githubusercontent.com/8127111/94999846-ea044300-0581-11eb-97f0-818bb823272d.png)
![image](https://user-images.githubusercontent.com/8127111/94999857-f9838c00-0581-11eb-8de1-3e3c6916d357.png)

[2020-10-04 01:13] IceSentry commented on #184
I'm not sure just removing the color is a fix here. I understand my original PR didn't take into account highlighting the entire line or a very dark theme in general, but it would be better to have a way to change the color. I agree the lack of a reset was my mistake though.

[2020-10-04 01:55] judemille commented on #184
I'm not sure there's a better way to go about it easily.

[2020-10-04 03:44] IceSentry commented on #184
Yeah, I don't think there's an easy way to add configuration. I think your PR is probably good enough for now. I was just really annoyed by ERROR and WARN having different shades of red, but TRACE is fine with default colors

[2020-10-05 02:20] estk commented on #184
@IceSentry, if this works for you will you approve the pr? Ill check locally tomorrow.
On Oct 3, 2020, 20:44 -0700, Charles Giguere <notifications@github.com>, wrote:

[2020-10-05 02:43] IceSentry commented on #184
@estk I added a comment of something that could be changed, but the PR works for me so I approved it.

[2020-10-06 01:51] rookie1024 opened #187 "More fine-grained control over log level threshold?"
So, I'm not sure if this is something `log4rs` already does, if it's a feature that could be added, or if it's outside the scope of this crate, but I ran into a fun issue getting set up with `log4rs` in my project.  The `serenity` Discord client crate logs tons of tracing information with the log level `Info`, so I have to adjust the threshold for the console appender to avoid cluttering the termi

[2020-10-06 07:24] teknopaul opened #188 "logging panics"
Hi this is somethign like a feature request

If code panics its not logged to log4rs, AFAIK there is nothing log4rs can do about this.

panic!("message")  -< "message" is lost.

I discovered this trick that might be useful in log4rs...

[code]

This enables log4rs aware code to call `fatal!()` that will log and panic.

[2020-10-06 07:24] teknopaul opened #189 "log and panic"
Hi this is something like a feature request

If code panics its not logged to log4rs, AFAIK there is nothing log4rs can do about this.

panic!("message")  -< "message" is lost.

I discovered this trick that might be useful in log4rs...

[code]

This enables log4rs aware code to call `fatal!()` that will log and panic.

[2020-10-06 16:45] estk commented on #187
@rookie1024 I think you should be able to just create a child logger that gets all of the serenity logs and in that logger specify the same appender as your root logger.

[2020-10-06 16:46] estk commented on #188
dupe

[2020-10-06 16:46] #188 closed

[2020-10-06 16:48] estk commented on #185
@calvinbrown085 My feeling is it should be unnecessary to do that in log4rs since you should be able to just hard code those things in the formatter. Have you looked into that?

[2020-10-06 16:50] estk commented on #189
@teknopaul this definitely seems like a useful macro, im just not sure it belongs in log4rs, since the rest of the log macros reside in the `log` crate, seems like if anything this should be located there right?

[2020-10-06 17:02] calvinbrown085 commented on #185
@estk Ah sorry, I should have been more specific. My current use case is for JSON logging, and from what I understand you can't format that today, (I could be incorrect here)

[2020-10-06 17:32] estk commented on #185
@calvinbrown085 thats my understanding as well. Unfortunately the `log` crate does not support structured logging so if youre trying to do that I would recommend `slog` or moving entirely to `tracing` ecosystem. I'm actually currently trying to wrap my head around tracing and trying to see if there would be a nice way to support it.

[2020-10-06 18:24] calvinbrown085 commented on #185
@estk Gotcha. I'll take a look at those. Thanks!

[2020-10-06 21:35] teknopaul commented on #189
I see your point, probably should be in core.Once things are up in the github issues they are locatable :if anyone else has that need they can copy paste from the closed issue. 06.10.2020, 18:51, "estk" <notifications@github.com>:
@teknopaul this definitely seems like a useful macro, im just not sure it belongs in log4rs, since the rest of the log macros reside in the log crate, seems like if anyt

[2020-10-07 01:54] rookie1024 commented on #187
Can I configure that logger to use different maximum log levels for different appenders?

[2020-10-08 00:45] calvinbrown085 commented on #185
@estk i'll close this issue. Thanks agin for the input!

[2020-10-08 00:45] #185 closed

[2020-10-08 06:37] estk commented on #187
Unfortunately not currently

[2020-10-08 07:32] #189 closed

[2020-10-08 07:42] estk commented on #179
The reason is that we may have multiple loggers pointed at a single appender. What would happen then if we wanted to change just the root log level? Does this clear the question up?

[2020-10-08 16:40] pm100 opened #191 "propose OutputDebugString appender for windows"
This is extremely useful on windows and is a common output mechanism for loggers

[2020-10-08 16:41] estk commented on #178
@maicallist , I'm not sure how we would be able to write logs as a different user. Generally apps deployed with no-login no-shell ship logs off box and are meant to never have a user on the actual machine (read docker container). Is this your understanding?

Or maybe you're talking about adding group/all read permission on the actual log files?

[2020-10-08 16:42] pm100 opened #192 "Propose a general purpose appender using a closure"
Imagine that somebody wants to log via some unusual mechanism, maybe specifc to a project. This appender would allow the dev to provide a closure that is called to output the message anyway they want

[2020-10-08 16:46] estk commented on #192
@pm100 sounds great, what is an example use case and your proposed api?

[2020-10-08 16:53] pm100 commented on #192
here is the implemented api

this allows the creation of odd appenders that are serviced via a closure. Simplifies the creation of appenders that dont need a lot of plumbing or configuration. Supports dedup. If in code

    let cl = ClosureAppender::builder()
        .encoder(Box::new(PatternEncoder::new("{d} - {m}{n}")))
        .closure(Box::new(|b| {
            let str = String::from_utf8(b).u

[2020-10-08 16:55] estk commented on #191
@pm100 sounds great, lets just separate out the dedup feature from your pr

[2020-10-08 16:58] pm100 commented on #191
:-) I knew you would say that.

Can we do dedup first since the ODS appender uses dedup. dedup is wired up inside the appenders. Be a pain to take the dedup code out and then put it back again

[2020-10-08 17:00] maicallist commented on #178
Hi,
**adding group/all read permission on the actual log files** is what I have in mind.

[2020-10-08 17:03] estk commented on #192
@pm100 sounds useful, what about state data that needs to be shared across closure calls?

Also, unless there's a way to specify the closure in the config file I'm inclined to say we should just remove the ability to specify a closure appender in the config file.

Finally, lets remove dedup from the conversation and split that out into a separate issue.

[2020-10-08 17:04] estk commented on #191
@pm100 that's no problem, open an issue!

[2020-10-08 17:11] estk commented on #180
Thanks @pm100, i like this feature more and more as I think on it. Heres my understanding and please correct me if I'm not understanding.

1. Log a message, hold a copy of the message to match against future messages
1. If the next message is identical, dont print anything new, else `1.`
1. When you get a non-identical message, print "last message repeated..." log line.

I think it may be prudent

[2020-10-08 17:13] estk commented on #178
@maicallist I like the idea and I think we should implement it, are you interested in submitting a pr?

[2020-10-08 17:29] pm100 commented on #180
well dedup is an option that they choose to turn on

[code]

[2020-10-08 17:44] maicallist commented on #178
I'll see what I can do.

[2020-10-08 19:04] wahur666 commented on #179
Yes, it clears up. Thanks.

[2020-10-08 19:04] #179 closed

[2020-10-09 03:46] pm100 commented on #180
BTW - here is why I needed this

[code]

[2020-10-09 21:50] pm100 commented on #192
state can be passed into the closure when its declared

[2020-10-10 15:27] estk commented on #192
Got it, so you would rely on an Arc to hold owned state in the closure?

[2020-10-11 22:53] rookie1024 commented on #187
I guess that should work well enough, thanks

[2020-10-11 22:53] #187 closed

[2020-10-27 03:02] maicallist commented on #178
After checking a bit, I found out my issue wasn't caused by log4rs, rather by the daemonizing crate.
Though it's still a good idea to provide the capability to let users setting log file permissions when necessary.
WIP.

[2020-10-29 16:16] im-konge opened #195 "Setting of colorization in pattern"
In my simple yaml, I tried to add colorization for the pattern:
[code]
or
[code]
both of these are not allowed. I saw that this enhancement was added in #5 . Maybe after that 5 years the code is removed and I'm not able to add it to the pattern.

Is there any possibility that the colored output will be added to `log4rs`? Or is there any way how to do it that I didn't find yet?
If yes, can you plea

[2020-10-30 15:02] zonyitoo commented on #18
It seems that there is no respond from log4rs-syslog , could you add syslog support directly into this crate? @estk

[2020-10-31 02:09] zonyitoo commented on #18
Would you mind copy-and-paste log4rs-syslog? I works well with 0.13.

[2020-11-04 18:54] neilyoung opened #196 "How to enable logging for just "my" module?"
I'm looking for a way to limit the logging to just what my module(s) issue. I know about the possibility to set the log-level per module, but this doesn't help if the number of crates changes rapidly. For instance it my module is on TRACE I get a lot of TRACE/DEBUG messages (unwanted) from other modules.

[code]

All these traces above have nothing to do with me, they are just there because I set

[2020-11-08 01:57] pm100 commented on #192
great use case, supporting syslog in log4rs without having to add an appender for it

[2020-11-08 02:03] pm100 commented on #192
still need to dedup one to merged first tho. Note that feature is very common in loggers. I didnt just invent it.

[2020-11-08 02:10] pm100 opened #197 "read git config for editor"
In current code base if GIT_EDITOR not set then the editor defaults to "vi". Many windows users do not have vi installed.

Git looks at GIT_EDITOR and if thats not set if falls back to "core.editor" config setting (after that it checks VISUAL and EDITOR)

vscode with git extension (~everybody working on open source) sets code.editor to point at itself. gitui should do the same

ez fix

[2020-11-08 17:43] #197 closed

[2020-11-08 17:43] pm100 commented on #197
sry , wrong repo :-(

[2020-11-13 07:46] akaylh opened #198 "how to set refresh_rate in code?"
in yml:

[code]

how to use in code (Programmatically)?

[2020-11-16 17:25] zane-a-karl opened #199 "Question: How can I add a custom filter?"
The only available filter is a level threshold (which seems kind of useless seeing as you can set a minimum logging level on a logger), but say I wanted to filter by a specific target: $expr instead. How would I programmatically (or in the yml file) let log4rs know that I need a different kind of filter? Would I need to add a custom feature to accommodate the addition of my new filter type that im

[2020-11-19 20:17] zane-a-karl commented on #199
Probably can close this issue, but I would suggest maybe the addition of a little documentation on how one might do this in the future. Refer to [this stack overflow answer](https://stackoverflow.com/questions/64862936/how-can-i-create-a-custom-filter-type-using-log4rs) if you're interested.

[2020-11-19 20:17] #199 closed

[2020-12-15 22:49] asanthan-amazon opened #201 "Support for environment variables inside log4rs.file"
Hi,
Can you add support to specify environment variables inside log4rs config file  ?

I want to specify full file path for file appender using environment variable.

[2020-12-15 23:27] estk commented on #201
Hi @asanthan-amazon can you give me an example?

[2020-12-15 23:28] estk commented on #198
@akaylh , can you explain more about your use case? What are you trying to refresh other than a yaml config file?

[2020-12-15 23:31] estk commented on #196
@neilyoung can you post your current configuration?

I assume you currently just have a root logger configured and no others in play, basically you would create a new logger in the configuration under the name "<mycrate>::<mymodule>" that is set at the appropriate log level and set the root logger to Off or some other such appropriate level.

[2020-12-15 23:36] estk commented on #195
@im-konge I think the general consensus is that it would be great to support colorization in the pattern encoder but we have not yet seen a satisfactory implementation. Would you like to take a stab at it? I would be happy to mentor you.

[2020-12-16 00:00] im-konge commented on #195
@estk yes, I can take look at it, thanks :)

[2020-12-16 03:06] #148 closed

[2020-12-16 06:20] asanthan-amazon commented on #201
An example log4rs.yml will look like,

[code]

where ${envroot} is environment variable that points to actual base dir in which application is running.

[2020-12-16 16:28] estk commented on #201
I like it, are you interested in opening a pr? I would be happy to mentor.

[2020-12-16 18:06] gadunga commented on #201
I believe similar functionality exists already for paths. Try `$ENV{name_here}` where `name_here` is the name of the env var.

[2020-12-16 18:25] estk commented on #201
Idk how i forgot about this https://github.com/estk/log4rs/pull/155

[2020-12-16 18:26] #201 closed

[2020-12-17 00:39] asanthan-amazon opened #202 "3 letter abbreviation support for %m [month] in pattern"
Hi,

How should I specify date pattern that prints 'month' in 3 letter abbreviation (like Aug, Oct) ?

I see that %m prints month in two digit number. But, let's say %mmm does not print the month in 3 letter abbreviation.

[2020-12-17 00:39] neilyoung commented on #196
True. Using root. Thanks. Will try

[2020-12-17 00:45] asanthan-amazon commented on #202
Found that '%b' worked.
I think doc needs to be updated with exact list of formatters supported.

Resolving.

[2020-12-17 00:45] #202 closed

[2020-12-17 16:50] #196 closed

[2020-12-28 21:04] axaluss opened #203 "redirect based on log level"
- I would like error messages to appear on console as well as a log file.
- i would like info messages to appear only in the log file.
- how can i have both?

[2020-12-29 18:41] estk commented on #203
You would configure your root logger to log at the error level to console and configure a second info logger that uses a separate appender which logs to a log file.

[2020-12-29 21:18] axaluss commented on #203
how can i have multiple loggers for the same crate?
Let's say i have the crate `foo_bar`, how can I define multiple loggers for it?

[2020-12-30 17:42] 0xpr03 opened #205 "Issue with init_file using anyhow instead of thiserror"
Currently init_file does use anyhow which does not implement std::error::Error.
Thus it is impossible to directly convert from this type or use `?` on it when using anything else than anyhow.

In my case this is stable_eyre for backtraces.
`the trait `std::error::Error` is not implemented for `anyhow::Error``

I'd suggest using thiserror which as stated per docs is more suited to libs versus appli

[2021-01-04 13:31] JulienUsson opened #206 "Change loggers maximum log level at runtime"
Hi,

Is it possible to change a logger maximum log level at runtime?

My use case is to change these at runtime via a REST endpoint to debug my web app without changing config file or rebuilding it (My web app prints logs via REST too).

Thank you for your help,
Julien Usson

[2021-01-04 17:18] estk commented on #206
@JulienUsson Yes that is possible, see to filter all logs you can use `log::set_max_level`. If you need to filter on log4rs loggers you can use [Handle::set_config](https://docs.rs/log4rs/1.0.0/log4rs/struct.Handle.html#method.set_config).

Zooming out, you would initialize your log4rs instance and hold ref to the handle and original config, then you would modify the config via your rest method an

[2021-01-04 17:39] JulienUsson commented on #206
Thanks @estk for your answer, unfortunately i have another problem :
[code]
The config is move by init_config and i can't clone or copy it
I don't know how to clone or copy a config

[2021-01-04 18:33] estk commented on #206
Ah, yeah sorry about that `Config` is the runtime representation and doesn't impl clone. So I've actually run into this myself in another project, the problem is that log4rs is open ended which results in some constraints around appenders loggers etc. At any rate what I ended up doing is using `RawConfig` and then impling a fn that builds a `Config` from a `RawConfig`.

At the time I was thinking

[2021-01-13 09:28] shuoli84 opened #207 "bmp arc-swap to latest"
ArcSwap 1.0 has been released, consider upgrade?

[2021-02-03 05:20] joelawm opened #209 "Rocket Logging Issue"
This is what my logging looks like from a log4rs server.log file in VSCode, I looked through past entries trying to turn ROCKET_COLOR=off but that does not seem to work. Is there any other workaround or how should I be reading my files, because as you can see the emojis are there but not the colored text.

[code]

[2021-02-04 13:47] rudolphfroger opened #210 "Conditional logging to console"
It would be nice if one could configure the console appender to only generate output if the output is a TTY. My use case is that I normally log to syslog or a file (daemons) but sometimes run something on the command line in which case I also like output to console.

A simple boolean config field to enable or disable this behavior would be nice.

Determining if the output is a TTY is already used

[2021-03-03 15:05] i-schuetz commented on #3
Hi! I started using log4s and not seeing any colors in the terminal (I see them e.g. with `pretty_env_logger`). Do I have to enable it somewhere?

[2021-03-03 16:07] estk commented on #3
see #204 , its in progress but seems to be stalled

[2021-03-03 20:28] i-schuetz opened #211 "Shared configuration that shows only current project logs?"
I put the logger config in a local shared crate. Ideally I don't want to add log configs to the dependent projects.

The only problem I'm having is to show logs only for the dependent project (see [issue](https://github.com/estk/log4rs/issues/196)). From what I gather, I need to add a logger with the name of the project and I don't want to hardcode these in the shared crate. Is there a way to do t

[2021-03-24 05:52] #207 closed

[2021-03-28 17:35] Coding-Badly opened #212 "Possible Condvar handling bug"
Currently `FixedWindowRoller` performs one check on the `Condvar` [here](https://github.com/estk/log4rs/blob/d637eea7ead3abb602f07abedf8c4af624f231e6/src/append/rolling_file/policy/compound/roll/fixed_window.rs#L132-L134).  According to the [documentation](https://doc.rust-lang.org/std/sync/struct.Condvar.html#method.wait), that is not correct...

The examples from that page all show a while-loop

[2021-03-28 21:47] Coding-Badly opened #213 "FixedWindowRoller is unreliable under Windows"
Windows allows troublesome filenames which are not tolerated in Rust Strings.  Some information is available [here](https://doc.rust-lang.org/std/os/windows/ffi/index.html).  Rust has `OsStr` and `OsString` to help deal with the problem.

`FixedWindowRollerBuilder:: build` takes a `&str` for the [filename pattern](https://github.com/estk/log4rs/blob/d637eea7ead3abb602f07abedf8c4af624f231e6/src/app

[2021-03-29 22:54] estk commented on #212
@Coding-Badly log4rs uses the [`parking_lot::CondVar`](https://amanieu.github.io/parking_lot/parking_lot/struct.Condvar.html#differences-from-the-standard-library-condvar). Which differs from `std`'s CondVar in that it does not get woken spuriously.

[2021-03-29 22:54] #212 closed

[2021-03-29 22:59] estk commented on #209
@joelawm I'm not sure what `ROCKET_COLOR=off` means, and I'm not familiar with the rocket project. I would ask that you post your question there and if there is clarification needed or a bug to be fixed, re-open the issue to the rocket project issue.

[2021-03-29 22:59] #209 closed

[2021-03-29 23:00] estk commented on #210
That sounds like an excellent feature @rudolphfroger , any chance you'd be interested in building it?

[2021-03-29 23:06] estk commented on #211
One way to solve this would be to use the environment variable [`CARGO_CRATE_NAME`](https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-sets-for-crates) to just get the current crate name at runtime.

[2021-03-29 23:08] estk commented on #213
@Coding-Badly that sounds like it could be an issue, would you be interested in working on a fix?

[2021-03-30 01:37] Coding-Badly commented on #213
I am.  The fix requires an interface change to `FixedWindowRollerBuilder::build`.

That change allows another as-yet-unreported bug to be fixed.

Still interested?

[2021-03-30 01:40] estk commented on #213
@gadunga Would love your input here

[2021-03-30 02:35] Coding-Badly opened #214 "RollingFileAppender race condition"
**Background**

`FixedWindowRoller` can optionally use a thread to roll the log files.  If that thread is active when the program terminates the most recent log file can be orphaned.  There are very likely other possible symptoms like leaving a gap in the sequence.

**Example**

An example is available [here](https://github.com/Coding-Badly/fixed_window_roller_trouble).  Fetch it.  Run it.  There

[2021-03-30 02:40] estk commented on #214
@yakov-bakhmatov any thoughts here?

[2021-03-30 04:36] Coding-Badly commented on #214
@estk, were you able to reproduce the problem?

[2021-03-30 15:30] estk commented on #214
@Coding-Badly I haven't reproduced it but looking at the code it's obvious that it will need to be addressed. We have 2 choices to address it.

- graceful shutdown
- consume the temp file when the app is started

I like the idea of the latter since we have many users which do not know or care that we do the logging for their applications and therefore may be annoyed by the latency of a graceful sh

[2021-03-30 15:30] #166 closed

[2021-03-30 15:31] estk commented on #169
Closing due to inactivity.

[2021-03-30 15:31] #169 closed

[2021-03-30 15:32] estk commented on #184
This has been addressed in #186

[2021-03-30 15:32] #184 closed

[2021-03-30 15:32] estk commented on #198
Closing due to inactivity.

[2021-03-30 15:32] #198 closed

[2021-03-30 15:33] estk commented on #203
Closing due to inactivity.

[2021-03-30 15:33] #203 closed

[2021-03-30 15:33] #206 closed

[2021-03-30 15:36] estk commented on #178
Closing due to inactivity.

[2021-03-30 15:36] #178 closed

[2021-03-30 15:41] estk commented on #205
@0xpr03 I agree that in general `thiserror` is more suitable for libs. In our case, we actually cannot enumerate all of our errors since we have a plugin interface that allows people to extend log4rs (such as using syslog). So, unfortunately, it's not possible to use `thiserror`.

[2021-03-30 16:00] 0xpr03 commented on #205
You could also settle for anyhow, it's the non-specific version with the same constraints.

[2021-03-30 16:13] Coding-Badly commented on #214
The latter is really a requirement.  The file set can also be damaged if the program is terminated abnormally with or without using a thread.  Imagine `SIGKILL` while the files are being rolled.

Ideally both.

I am.  But I'm going to start by trying to document the sequence of operations.  I'll post that here.

[2021-03-30 16:24] estk commented on #205
@0xpr03 maybe I don't understand your question but we are using anyhow: https://docs.rs/log4rs/1.0.0/log4rs/append/trait.Append.html#tymethod.append

[2021-03-30 16:41] estk commented on #214
@Coding-Badly I haven't been able to reproduce the damaged file situation, have you? I think it's unlikely to be a problem just looking at the source, but would love to know if it is.

Regarding `SIGKILL` while files are being rolled, it's my understanding `SIGKILL` is _specifically for_ situations where you want to abort without cleanup, I think we're doing that just fine as is 😂.

Regarding impl

[2021-03-30 21:07] Coding-Badly commented on #214
I have had trouble waiting on a `join_handle` in a `Drop` implementation.  The situation was a bit different.  I mention the trouble because it could be a dead end.

The other hitch-in-our-get-along is that `Drop` may never be called.  If the ultimate owner of `FixedWindowRoller` is static / global then, I believe, it will never be dropped.

An alternative would be for `FixedWindowRoller` to produ

[2021-03-30 22:06] 0xpr03 commented on #205
Ah wait, I just realized my error, I mixed up another issue. I guess we'd have to somehow add the StdError trait ? I'll re-investigate this tomorrow hopefully and try to come up with a better solution. Meanwhile I'll close this prevent further noise.

[2021-04-01 11:06] rudolphfroger commented on #210
I'll try to make some time in the coming days and see if I can come of with a pull request

[2021-04-08 23:02] OvermindDL1 commented on #3
What's keeping it stalled currently?

[2021-04-11 00:46] rust333 opened #215 "specify different levels for appenders using .yml file"
Hi,

I'm trying to specify log levels using a .yml file.
The `info` log level should go to the console and the file, and `trace` log level should only go to the file. The log4rs.yml file looks like this:

[code]

Current behavior:
[code]
 Expected behavior:
[code]

Implementation in Rust works fine. It looks like:

[code]

What am I doing wrong?

[2021-04-11 12:31] #215 closed

[2021-04-11 16:28] estk commented on #215
@rust333 did you solve this? Would you post what fixed it for you for future arrivals here?

[2021-04-14 01:42] CHCP opened #216 "A better way to rename rolling files"
Hi there,  ​
 ​I found when a rolling happened, all rolling log files will be renamed, for example:

[code]

If there are 100 or more rolling files, it will take some time to rename files, and will effort the main process.  Would you like to consider a better way to rename rolling files:

1、record the current rolling file number in a new file, such as 2；
2、when rolling happened, the ohlc.log renam

[2021-04-14 15:40] estk commented on #216
@CHCP
Thanks for the suggestion. Generally, this is how logging frameworks roll files and the performance impact of the roll is honestly something that I hadn't considered. Would you be interested in creating a benchmark PR to illustrate your point?

One other thing I should add is we did have a concern around the time to gzip a new log file and created a feature flag that will do the zipping and

[2021-04-14 15:46] estk commented on #214
@Coding-Badly I think any situation that requires more thinking in the use of log4rs should be dismissed. Our job is to be predictable and get out of the way of our users. I think writing some code around recovering the orphaned file is probably the path we want to pursue anyway since we simply couldn't do any graceful shutdown if `SIGKILL`. Maybe that is a reasonable PR to work on together?

[2021-04-14 15:46] estk commented on #211
closing due to inactivity

[2021-04-14 15:46] #211 closed

[2021-04-14 15:47] estk commented on #210
bump bump @rudolphfroger

[2021-04-14 15:48] estk commented on #195
@im-konge bump

[2021-04-14 15:49] estk commented on #192
closing due to inactivity

[2021-04-14 15:49] #192 closed

[2021-04-14 15:51] estk commented on #141
closing due to inactivity

[2021-04-14 15:51] #141 closed

[2021-04-14 15:51] estk commented on #126
closing due to inactivity

[2021-04-14 15:51] #126 closed

[2021-04-14 15:54] estk commented on #191
closing due to inactivity

[2021-04-14 15:54] #191 closed

[2021-04-14 15:55] estk commented on #213
@Coding-Badly any other solution you can think of that wouldn't break the current API?

[2021-04-14 15:56] im-konge commented on #195
@estk hey! Sorry, I didn't have time for taking a look on this. Hopefully I'll find some free while to start working on this.

[2021-04-14 19:13] i-schuetz commented on #211
For now I'm managing everything in the shared project. Thanks for the suggestion anyway.

[2021-04-15 00:50] CHCP commented on #216
Sure if I am ready for the benchmark data.

[2021-04-15 07:03] rudolphfroger commented on #210
Sorry, yes I didn't have time yet but it's on my list of things to do.

[2021-04-20 15:43] rudolphfroger commented on #210
This could be a filter so it can be re-used, although the main use-case is enabling of the console appender when the output is a TTY.

[2021-04-30 22:27] OvermindDL1 opened #219 "RollingFileAppender option to roll file on load"
Would it be possible to add an option to `RollingFileAppender` to call the roller upon initial load before any logging is done?  I attempted to make an `OnLaunchTrigger` but that lets one log message leak through so I end up getting a file with that single log, or I get that single new log entry at the end of the old log file.  Optimally I'm looking to roll the logs on every load of the applicatio

[2021-04-30 23:21] OvermindDL1 commented on #219
Actually I may have just had a really simple idea to just delegate to another appender after performing a roll...  So here's an appender that takes a path, roll, and appender options, it roll's the path using the roller (if the path exists) and then delegates (rather constructs and then returns) the other specified appender, so it works with any appender.  Feel free to take and incorporate (and wr

[2021-05-01 07:07] Coding-Badly commented on #214
Agree.

Sounds good!

I think I have a sequence for rolling the log file that is not much more complicated than what's already in log4rs and is actually thread safe.  I know that's not necessarily a goal but if that can be reached it would make rolling the log file rock solid even in especially hostile situations.

I'm going to start it as a separate project.  I think that will make the process go

[2021-05-01 07:16] Coding-Badly commented on #213
There really are two things at play.  The directory and the pattern.  While similar (they're both a sequence of characters) they do have different purposes, different constraints, and different behaviours.  I honestly believe they should be separated.  (And, there really is not a way around the Windows path trouble.)

However, nothing stops us from adding a new method and leaving the existing meth

[2021-05-01 07:31] estk commented on #213
I like that idea, I would prefer to not deprecate the current method as I think that will be the 99% use case, but certainly, we should mention the limitation in the docs. I think a change such as this would be appropriate for log4rs. I think config file support is out of scope for now.

[2021-05-01 07:31] estk commented on #214
Great, would you link it here when it's under way? It'd be great for our users to see the progress.

[2021-05-04 02:09] Coding-Badly commented on #213
[The R&D repository for this issue.](https://github.com/Coding-Badly/pattern-path-buf)

[2021-05-21 16:51] rupak-d opened #221 "Log to SQLite database"
Any examples or support to log to SQLite databases?
Thanks!

[2021-06-08 11:40] 0xpr03 commented on #205
What I mean was to use an std:error, fixed size approach like [thiserror](https://crates.io/crates/thiserror)

[2021-06-09 22:04] OvermindDL1 opened #222 "`chrono` is using an exceptionally old `time` version, uypdate?"
Currently log4rs is bringing in chrono, which hasn't been updated in over 8 months and it's using a very very old version of the time library where the modern time library versions are significantly more functional and overall more useful, with a lower dependency count, especially as log4rs isn't using any features that are chrono-only that I can see (I'm not sure there are any anymore compared to

[2021-06-09 22:06] OvermindDL1 commented on #205
`thiserror` supports having an error case of an unknown error type, can just box an stderror or take a reference to it if its possible in that situation (rarely).

[2021-06-10 20:10] madelaney opened #223 "Is it possible to build config using `include_str!`?"
All,

Is it possible to have the log4rs config to be yaml but to use `include_str!` at compile time to "bake" in the default configuration using yaml?

I tried to look at `log4rs::init_file` but those seem like they need the file at runtime but I want to bake in a default configuration so that users don't have to have a yaml file too.

- Mike D.

[2021-07-12 20:49] #210 closed

[2021-07-13 15:09] estk commented on #221
@rupak-d, none that I know of. Would you like some mentorship in adding this appender?

[2021-07-13 15:12] estk commented on #136
`chrono` has now been updated to drop time support: https://github.com/chronotope/chrono/blob/main/CHANGELOG.md#0416

[2021-07-13 15:12] estk commented on #222
Let's discuss in the existing issue #136.

[2021-07-13 15:12] #222 closed

[2021-07-13 15:19] estk commented on #223
@madelaney It would be great to add an example around this, but I think the following will work. If it needs editing please let us know.

[code]

[2021-07-13 15:22] estk commented on #219
@OvermindDL1 I've implemented something like this in my dayjob since we use log4rs there. At the time it seemed like a very niche feature, can we get a show of hands who wants to see this?

[2021-07-19 23:33] apatniv commented on #223
@estk I can add the example.

[2021-07-20 19:08] DarthHater opened #226 "Vulnerable dependency: time brought in via chrono"
Hi there!

The crate `time` before `0.2.23` has a vulnerability, more info here: https://github.com/RustSec/advisory-db/blob/main/crates/time/RUSTSEC-2020-0071.md

FYI `time` is brought in via `chrono` to this project.

I've made a comment on a `chrono` issue where they are discussing upgrading time: https://github.com/chronotope/chrono/issues/553#issuecomment-883630753

I imagine you can't do too

[2021-07-26 22:33] OvermindDL1 commented on #219
Hard part is getting hands from people that would like to have this, but don't currently watch the repo, that was me up until I got fed up of not having it and instead manually trying to read the configuration and move the file myself before log4rs got loaded up, which was harder than I preferred.  ^.^;

[2021-07-31 11:00] cloneable opened #228 "Consider replacing Regex with simpler scanner"
I was checking a binary with cargo bloat and to my surprise I noticed that log4rs pulled in regex which turned out to be 4x as large as log4rs itself. So I was curious what log4rs is using regex for. I could only find one line with a reg exp matcher that's not even that complex.

[code]

So I'm wondering if you have more plans for regex crate or if you would be willing to replace this one use with

[2021-08-03 16:28] estk commented on #226
Waiting on https://github.com/chronotope/chrono/pull/578

[2021-08-03 16:29] estk commented on #228
@cloneable this seems like a great idea! Any chance you'd like to open a PR on it?

[2021-08-05 13:09] cloneable commented on #228
Ok, I'll give it a shot. Seems a good chance to improve my Rust in this area.

[2021-08-05 18:14] estk commented on #228
@cloneable Great to hear!
Feel free to open a Draft PR and ask any and all questions you'd like there.

[2021-08-06 12:17] cloneable commented on #228
Great, thanks!

The current pattern for an env var name is this: `[\w][\w|\d|\.|_]*`

(Btw, I believe the pipes are matched too. You probably meant to use parentheses or no pipes in brackets. Also, the period loses it's special meaning in brackets and doesn't need to be escaped. The first \w doesn't need to be in brackets.)

Question: \w actually implies a lot, including \d. I guess the original i

[2021-08-06 17:19] estk commented on #228
@cloneable I agree with your assessment, I think the logic should basically be completely replaced with just a dumb find which scans from "$ENV{" to the first "}". Whether the thing inside the "$ENV{...}" is valid I dont think we really care.

[2021-08-06 17:37] cloneable commented on #228
OK, I'll adjust the draft PR.

[2021-08-07 11:36] cloneable commented on #228
@estk, allowing anything between { } means we allow $ENV{} too. Users might think it's possible to use nested $ENVs, like e.g. $ENV{endpoint-$ENV{instance_number}}.
The new code would try to look for an env var "endpoint-$ENV{instance_number". (I can try to turn the code into recursive lookup, but I kinda don't want this to turn into a rabbit hole.)

I think it's best to replicate what the regular

[2021-08-07 14:50] estk commented on #228
Sounds good to me, certainly no need to do recursive lookup.

On Sat, Aug 7, 2021 at 04:36 Folke Behrens ***@***.***> wrote:

[2021-08-11 20:33] #228 closed

[2021-08-12 11:05] cloneable opened #231 "Offer thread ID returned by gettid() in pattern encoder"
Currently, the thread ID that can be added to a log pattern is the one returned by `pthread_self()`, which is more or less an opaque identifier not usable beyond tying together log lines of the same thread. On linux the thread/task ID returned by `gettid()` is a system-wide unique identifier that can be used for debugging from outside the process. For instance, `/proc/PID/task/TID/` provides infor

[2021-08-17 20:57] #231 closed

[2021-08-30 06:43] russcam opened #234 "Flushing all appenders"
[`Append` has a `flush()` fn](https://github.com/estk/log4rs/blob/afa0351af56b3bfd1780389700051d7e4d8bbdc9/src/append/mod.rs#L88) to flush all in-flight records. Is there a common or recommended approach to flush all configured appenders e.g. just before exit?

[2021-09-03 09:15] chw741852 opened #235 "can add trigger kind "time" in rolling_file"
like generate a new log file every minute

[2021-09-05 18:00] tuguzT commented on #87
@peterjoel consider using this pattern for date:
[code]

[2021-09-15 02:08] orbli commented on #235
or every hour or every day, i support for this feature request

[2021-09-16 03:26] hvina commented on #235
Is this possible . I would be happy to work and contribute to this .

[2021-09-16 03:29] orbli commented on #235
had a bit dig into the issue, i guess it is most probably make another copy of https://github.com/estk/log4rs/blob/master/src/append/rolling_file/policy/compound/roll/fixed_window.rs and change only the function on determining whether to roll and the roll name. just i dont have time for this at the moment, glad if you can help 😂😂

[2021-09-16 03:40] hvina commented on #235
I had a quick look at the file naming. From the initial look we are renaming all the files that are present in the archive . I am sure you would have thought about a better mechanism of modifying only the last file.  Any thoughts on that

[2021-09-20 17:16] johalun opened #236 "Files are not being compressed"
Here's my cargo.toml entry
`log4rs = { version = "1.0.0", features = ["all_components", "background_rotation", "gzip"] }`

Rotation for log files works as expected but they are not compressed. Do I need to add something in the yaml file to enable compression?

[2021-10-04 12:34] BeastLe9enD commented on #234
Same problem here, would be nice to get an answer

[2021-11-14 12:41] msrd0 commented on #226
chrono itself is also considered vulnerable: https://rustsec.org/advisories/RUSTSEC-2020-0159

[2021-12-20 13:25] ivanschuetz opened #240 "Check if logger was already initialized"
Is it possible to check if the logger is already initialized - to avoid having to deal with "attempted to set a logger after the logging system was already initialized" (which since it's now an `anyhow::Result` would have to be matched via text)?

I'd like to enable logging for integration tests - don't have anything at the moment that runs before all the tests and would prefer to not have to use

[2021-12-22 15:14] yatesco commented on #125
I've requested exactly this here: https://users.rust-lang.org/t/configuring-tracing-with-log4rs-or-other-rolling-and-limiting-file-appender/69190. If I can, I'll create a reproducible example and post here.

[2021-12-28 23:01] Tony-Goat commented on #136
This chrono update did not remove dependencies on the time crate, and chrono is still pulling time 0.1.43, [which has a CVE](https://rustsec.org/advisories/RUSTSEC-2020-0071) which can cause crashes as explained in time-rs/time#293. This is an issue that comes up particularly in multithreaded environments, which it would seem log4rs supports.

[2022-01-26 13:14] madelaney opened #242 "Is it possible to have date/time in log file name."
I was wondering if it was possible, when using a YAML configuration, to have the date/time inserted as the file name when configuring a `file` appender?

here is an example, where `{d}` would be a place holder for the datetime:
[code]

/shrug

- Mike D.

[2022-02-08 13:23] HTG-YT commented on #226
The PR still seem to not be merged. Could a potential move to the `time 0.3` crate instead of `chrono` be feasible?

[2022-02-08 13:46] msrd0 commented on #226
I've opened #241 to at least remove the time 0.1 dependency

[2022-02-14 18:53] jornfranke opened #244 "log4rs does not work on target wasm32-wasi"
Hi,

I would like to use log4rs and compile it to the target wasm32-wasi:
[code]
Output:
[code]
This does not work as there is an issue with the thread-id library: https://github.com/ruuda/thread-id/issues/10
Note: The issue is rather old and wasm allows compilation with threads (no other library causes problems...). If I remove log4rs as a dependency then I can compile.

Do you have a pointer whe

[2022-02-16 03:46] xz313889179 opened #245 "Whether log4rs writes logs asynchronously or synchronously"
Hello developers, I would like to know if log4rs writes logs asynchronously or synchronously

[2022-02-18 07:19] ekafe commented on #242
I am also looking for the solution, did you figure our any solution.

[2022-02-21 18:17] #221 closed

[2022-02-23 02:56] sw-dev-code commented on #236
@johalun You need to add .gz extension to the yaml file in order to get compressed files. You can see example below:

[code]

[2022-02-23 03:01] johalun commented on #236
Ah thank you!

[2022-02-23 03:01] #236 closed

[2022-02-24 04:14] brandonros commented on #196
@neilyoung please post result you came up with,

[2022-02-24 04:28] brandonros commented on #196
[code]

@estk I came up with this and from what I can tell it's wrong?

[2022-02-24 04:28] brandonros commented on #196
This is the format that logs too much:

[code]

[2022-02-24 04:33] brandonros commented on #166
What about using just `app::` like... the top level app?

[2022-02-24 08:20] neilyoung commented on #196
Well, I don't even recall to have ever dealt with Rust, but found this in a corner of my desk:

Looks, as if I
[code]

Logs I was just preventing annoying others from jabbering...

[2022-02-24 17:51] brandonros commented on #196
[code]

What apps are signal and poll_want logs from?...

[2022-02-24 17:57] brandonros commented on #196
I added `{t}` target and found that it's the `want` module.

[2022-02-24 18:06] brandonros commented on #196
How to turn that off? `.logger(log4rs::config::Logger::builder().build("want", log::LevelFilter::Warn))` or `.logger(log4rs::config::Logger::builder().build("want::want", log::LevelFilter::Warn))` or `.logger(log4rs::config::Logger::builder().build("want::*", log::LevelFilter::Warn))`?

[2022-03-04 07:31] h-rummukainen commented on #172
I have multiple concurrent writers to the same log file using log4rs, and it works in my testing.  Rust standard library documentation says that it opens files without locking them, even on Windows.  I believe the append mode for opening files was specifically invented for this use case, so that the writes of multiple processes would be appended one after another.  There might be trouble on networ

[2022-03-05 23:06] zigomi opened #246 "How to toggle "file <-> stdout/stderr" writting of logs?"
Namely, if it's currently being writtein into "stdout/stderr", I want to switch it into "file", and vise versa. How to do it? In the documentation that isn't explained in a clear way.

And how to check which of the 2 options is active now?

[2022-03-11 05:19] aryanbdps9 opened #247 "Fix dependency on unmaintained and vulnerable trait"
Hey, this trait depends on typemap, which is unmaintained, and depends on unmaintained crate "unsafe-any", which depends on another unmaintained crate AND **[vulnerable](https://nvd.nist.gov/vuln/detail/CVE-2020-35881)** crate "traitobject".

Are there any mitigation steps that we can take?

[2022-03-14 06:38] h-rummukainen commented on #246
You can do it by reinitializing the logger: keep the handle you get from init_config, then call handle.set_config with a new configuration.  You would probably have to keep track of the current configuration on you own though.

[2022-03-16 16:28] sw-dev-code opened #248 "Is it possible to disable console output but with file saving enabled?"

[2022-04-01 08:38] Mubelotix opened #249 "Publish on crates.io"
The [published crate](https://crates.io/crates/log4rs) has not been updated for a whole year. Several improvements have been implemented and it would be nice to make them available

[2022-04-07 22:34] johalun commented on #247
+1
I discovered this when my minimal-versions test failed.

[2022-04-19 18:56] estk commented on #240
in my tests I use:
[code]

[2022-04-19 18:57] estk commented on #248
See the examples, it is not necessary to have an appender which sends output to console.

[2022-04-19 18:58] estk commented on #247
Yes we need to replace typemap.

[2022-04-19 18:58] estk commented on #246
thanks @h-rummukainen

[2022-04-19 18:58] #246 closed

[2022-04-19 19:01] estk commented on #245
log4rs writes logs synchronously. In order to be `log` crate compatible and write logs synchronously we would need to at least serialize them synchronously. I've explored this at length in this blog post: https://www.imperva.com/blog/logging-a-deep-dive/

[2022-04-19 19:01] #245 closed

[2022-04-19 19:02] estk commented on #242
@madelaney this is not currently possible. I would be happy to mentor you if you would like to develop the feature.

[2022-04-19 19:03] estk commented on #249
@Mubelotix I appreciate the reminder, it's on my list.

[2022-04-19 19:09] estk commented on #244
We should be able to avoid calling thread_id all together in wasi compile target.

[2022-04-19 19:14] estk commented on #235
@alwinc  you may want to look at the background_rotation compile flag.
@chw741852 , @orbli , @hvina see https://github.com/estk/log4rs/pull/139 it was just never completed. If any of y'all would like to kick that back off let me know if I can answer any questions.

[2022-04-19 19:19] estk commented on #234
There is a `fn flush()` in `::log::Log` that flushes all appenders. So if log4rs is your anointed logger, you should be able to `::log::logger().flush()`

[2022-04-19 19:19] #234 closed

[2022-04-19 19:22] estk commented on #226
I would like to remove the chrono dependency, I think migrating to time is feasible now

[2022-04-19 19:23] estk commented on #195
anyone interesting in picking this up?
https://github.com/estk/log4rs/pull/224

[2022-04-19 20:04] ivanschuetz commented on #240
My problem is actually with WASM (in tests it's indeed OK to ignore the result) - where I've to ensure that the logs are initialized for each component. After the first one in the session, each component will trigger this error.

[2022-04-19 22:02] xuchaoqian commented on #249
Would you like to upgrade the parking_lot dependency to 0.12, too?

[2022-04-19 22:34] estk commented on #249
@xuchaoqian will do

[2022-04-19 22:39] estk commented on #240
I dont think I have enough information to answer your question, can you send me a complete repro case?

[2022-04-20 10:03] sw-dev-code commented on #248
@estk Thank you.

[2022-04-20 10:05] sw-dev-code commented on #114
Any update on this feature?

[2022-04-20 10:29] sw-dev-code opened #251 "Is it possible to configure JSON encoder to save log as array of JSON objects?"
I would like to have the output file as one JSON array with each log as a JSON object? It would be easier for manipulation instead of having each line as a separate JSON object.

Is there a way to set configuration YAML file in that way?

[2022-04-20 14:13] estk commented on #114
@caoruijuan13 the `log` crate does not have a notion of structured logging, I would suggest that you use an empty formatter and serialize the json output yourself. Using a separate log target you can filter out your custom serialized logs to a separate appender.

[2022-04-21 15:58] #249 closed

[2022-04-22 12:30] caoruijuan13 opened #253 "android build bug(after commit 0d0a6dd88047337a9b33292c24addfabac5352d5)"
Hi, after commit 0d0a6dd88047337a9b33292c24addfabac5352d5, there are some build errors on android platform. errors:
[code]
and
[code]

[2022-04-22 14:39] estk commented on #253
@caoruijuan13 can you attach your cargo.lock or the output of `cargo tree -p log4rs`?

[2022-04-22 14:45] estk commented on #253
I think this is actually a problem with https://github.com/estk/log4rs/pull/232/files

[2022-04-22 15:11] estk commented on #253
@caoruijuan13 I think 1.1.1 should work for you, please reopen if the issue is not fixed.

[2022-04-22 15:11] #253 closed

[2022-04-22 15:11] #251 closed

[2022-04-22 15:21] estk commented on #136
I'm going to open a new issue to use time 0.3 in lieu of chrono

[2022-04-22 15:21] #136 closed

[2022-04-22 15:22] #205 closed

[2022-04-22 15:23] #216 closed

[2022-04-22 15:24] estk commented on #226
Closing this in favor of removing chrono for time 0.3

[2022-04-22 15:24] #226 closed

[2022-04-22 15:24] #223 closed

[2022-04-22 15:24] #240 closed

[2022-04-22 15:25] estk opened #256 "Migrate from chrono to time 0.3"

[2022-04-23 00:46] caoruijuan13 commented on #253
# cargo tree -p log4rs
log4rs v1.1.0
├── anyhow v1.0.57
├── arc-swap v1.5.0
├── chrono v0.4.19
│   ├── libc v0.2.124
│   ├── num-integer v0.1.44
│   │   └── num-traits v0.2.14
│   │       [build-dependencies]
│   │       └── autocfg v1.1.0
│   │   [build-dependencies]
│   │   └── autocfg v1.1.0
│   ├── num-traits v0.2.14 (*)
│   └── time v0.1.44
│       └── libc v0.2.124
├── derivative v2.2.0 (pro

[2022-04-23 00:47] caoruijuan13 commented on #253
Other info：
when I build for linux on linux platform，it's ok；
when I build for android on linux platform，it is't ok；

[2022-04-23 01:54] estk commented on #253
Did you try updating to 1.1.1?

[2022-04-23 02:31] caoruijuan13 commented on #253
It is ok now, thanks a lot. (and there is no 'palaver' in Cargo.lock.)
# cargo tree -p log4rs
log4rs v1.1.1
├── anyhow v1.0.57
├── arc-swap v1.5.0
├── chrono v0.4.19
│   ├── libc v0.2.124
│   ├── num-integer v0.1.44
│   │   └── num-traits v0.2.14
│   │       [build-dependencies]
│   │       └── autocfg v1.1.0
│   │   [build-dependencies]
│   │   └── autocfg v1.1.0
│   ├── num-traits v0.2.14 (*)
│

[2022-04-23 02:37] estk commented on #253
Awesome

[2022-04-23 13:50] abmpicoli2 opened #257 "Operators should own the logs by default. Not developers. Is this done in this solution ? How?"
One of the main features of a logging framework like log4j 2 is it's separation of concerns:

A developer using log4j may (and should not) bother, ever, with where the logs are, in what format it is, and how to initialize logging.

In principle, people using the application (operators) should be able to choose where the logs will go, and which messages will be shown, where.

Also, operators should

[2022-04-23 14:03] estk commented on #257
@abmpicoli2 I don't really understand what the question is, can you restate it?

[2022-04-23 14:10] estk commented on #257
Maybe you're asking about how to configure logging via a configuration file?
https://docs.rs/log4rs/latest/log4rs/#configuration-via-a-yaml-file

Please feel free to reopen if that does not answer your question.

[2022-04-23 14:11] abmpicoli2 commented on #257
Well, in short, log4rs should do something like this:

Using this example:
https://github.com/estk/log4rs/blob/master/examples/compile_time_config.rs

[code]

And this must be a complete code: log4rs is not initialized? Init it: from a sensible default configuration searching system. The developer in principle should never be forced to decide from where the configuration comes from: this is in typ

[2022-04-23 14:15] estk commented on #257
@abmpicoli2 got it, so just to clarify this is a feature request for automatic logging initialization?

[2022-04-23 14:19] abmpicoli2 commented on #257
I believe yes, it is a good start. Of course this implies that the initialization must happen only once during the application lifecycle. And be automatic.

Another feature that will probably be needed is to lock configuration: once the configuration is initialized, the operator may choose to lock configuration inside the configuration file.

Because a common antipattern I see in my java projects

[2022-04-23 14:19] abmpicoli2 commented on #257
And forcing the operators to set the same log files and same configuration options at multiple configuration files.

[2022-04-23 14:30] estk commented on #257
Ok, I understand now.
I believe this feature is out of scope for log4rs, dropping the explicit initialization of log4rs is not something that would fit with the rust ecosystem values.

1. It is unexpected for rust crates to run anything when loaded, going to disk to fetch a config file would be unexpected and may block the main thread at an unexpected time.
2. log4rs may only be initialized once p

[2022-04-23 14:54] abmpicoli2 commented on #257
Notice that the pattern is not load on initialization, but lazy initialization: the first time a logging feature is used, initialization happens.

I confess that in the rust alphabet, I'm, say, at the letter G . And writing it backwards yet :)

Maybe the problem is that as a java developer, I'm looking for java patterns that simply aren't there...

For sure, having a zero arg initializer is alread

[2022-04-23 18:18] estk commented on #257
@abmpicoli2 Any disk reads that arent explicitly called I think does not fit with the rust ethos. IMO a systems programming lang should not be doing synchronous disk ops without the explicit consent of the developer.

I like your suggestions though, I think we could have a function like `log4rs::auto_init()` which does:
1. look for env  var `LOG4RS_CONFIG_FILE`
2. try loading `./log4rs.yaml`
3. fa

[2022-04-24 16:15] abmpicoli2 commented on #257
@estk IMO if having a synchronous file access during the very first use of an api call, set by the developer, mind that, is an expected, documented behavior. I don't see why this is an issue.

In the proposed solution, if the developer do actively initialize log4rs using any of the proposed methods, the autoinit doesn't trigger. And initialization must happen only once during the lifecycle of the

[2022-04-24 16:20] estk opened #258 "Implement an `auto_init` function."
I like your suggestions though, I think we could have a function like `log4rs::auto_init()` which does:

look for env var `LOG4RS_CONFIG_FILE`
try loading `./log4rs.yaml`
fallback to console logging

[2022-04-24 16:21] abmpicoli2 commented on #257
If log4rs can be initialized multiple times during the application lifecycle, THEN you have a very serious antipattern here, that should be fixed: it would impact seriously any application and modules using it, because initialization is the biggest overhead of any configuration.

[2022-04-24 16:23] estk commented on #257
@abmpicoli2 sounds good, lmk if you have any questions or need assistance. Also, feel free to open a draft PR and I can follow along with suggestions as you go too. Closing in favor of #258 . Please reference that issue when you open your PR.

[2022-04-24 16:23] #257 closed

[2022-04-24 18:41] abmpicoli opened #259 "log4rs::init_file should fail early if logging is already configured."
Hi, I've made the following change to the example log_to_file.rs, to check if the behavior for log4rs initialization is the expected one, which is that,  if there is already an active log configuration, do not even begin to try to use/parse a different log configuration and fail early.

And here I found a partial antipattern: it seems that the init_file *IS* trying to parse the configuration file,

[2022-04-24 19:04] abmpicoli opened #260 "How do you configure log4rs to output log4rs logs to a specific location?"
log4j 2 has the concept of internal logging:

Instead of writing log4j frameowkr errors to the error stream, which may cause confusion and may be simply missed by a call that redirect errors to /dev/null, the operator has the option of setting where internal logging will go, and at what level:

Example from log4j 2 :

[code]
Details on how this is configured at log4j2 is at https://logging.apache.

[2022-04-24 19:23] abmpicoli commented on #259
@estk although this is the immediate perceptible defect, the file gets created, the issue is deeper: any attempt of changing configuration using init methods should immediately fail. Because otherwise it could cause performance degradation.

Imagine if the pattern used for the init_auto thing (#258 ) used by developers begin to be

[code]
And then the guy decides to run that inside a loop :)

[2022-04-24 19:25] estk commented on #260
You may configure this by creating a logger which filters on target `log4rs`. See the docs: https://docs.rs/log4rs/latest/log4rs/

[2022-04-24 19:48] abmpicoli commented on #260
Ok, consider this simple example:

[code]

All i see in the output is a "BING!". That is, I can't rely on log4rs to report it's own state, and I must fall back to raw println! commands, that is just the thing I'm trying to avoid.

[2022-04-24 20:13] abmpicoli commented on #260
@estk I don't see how to reopen the issue, so I'm referring to you directly. Repeating the message

Ok, consider this simple example:

[code]

All i see in the output is a "BING!". That is, I can't rely on log4rs to report it's own state, and I must fall back to raw println! commands, that is just the thing I'm trying to avoid.

[2022-04-24 21:51] estk commented on #260
@abmpicoli I think the behavior you're describing would be a good fit for your `auto_init()` function and should fall out of that design.

[2022-04-24 22:00] estk commented on #259
@abmpicoli I'm not sure the problem that you're talking about is solvable without violating the "Principle of least astonishment" but I would be happy to mentor you as you take a crack at it in the `init_auto()` method.

[2022-04-29 05:05] wjw905266 opened #261 "Does Log4rs support milliseconds or microseconds format?"
I used log4rs , and used the following format as a self-defined type to get currrent time  in the pattern , but I don't know how to output milliseconds with it . does anyone now how to do that？ thanks

{d(%Y.%m.%d %H:%M:%S])}

[2022-04-29 06:25] wjw905266 commented on #261
I found that d(%Y.%m.%d %H:%M:%S.%f) can do , but i am not sure

[2022-04-30 02:48] estk commented on #261
log4rs currently uses chrono for time formatting which uses the [`strftime` rules](https://docs.rs/chrono/0.4.0/chrono/format/strftime/index.html#specifiers)

[2022-04-30 02:48] #261 closed

[2022-04-30 02:51] estk commented on #260
I'm going to close this again for now, when you're ready to imlp `auto_init()` lets open a new issue for that.

[2022-04-30 02:51] #260 closed

[2022-04-30 02:51] estk commented on #258
@abmpicoli

[2022-04-30 02:53] #142 closed

[2022-04-30 02:59] estk commented on #180
closing stale

[2022-04-30 02:59] #180 closed

[2022-06-06 21:47] brandonros opened #263 "thread '<unnamed>' panicked at '`NtWriteFile` not available', library\std\src\sys\windows\c.rs:1293:9"
[code]

[code]

[code]

[2022-06-06 21:48] brandonros commented on #263
not sure what's going on, might be ctor or this library or neither? also opened https://github.com/mmastrac/rust-ctor/issues/219

[2022-06-07 00:01] ChrisDenton commented on #263
Hi, this is likely caused by the ctor. Rust std currently uses a ctor to load some functions. So if other code also runs in a ctor it's possible that it runs before the std ctor. This would cause it to think the function couldn't be loaded.

This should be fixed in Rust's std to ensure this does not happen. I'll submit a patch to Rust as soon as I'm able.

[2022-06-07 00:19] brandonros commented on #263
![image](https://user-images.githubusercontent.com/8949910/172269998-51847153-77fe-46f0-a795-fa36f0ec9443.png)

No problem. Thanks. If that helps at all, it's as if NtWriteFile is getting dropped by the linker or something?

Is there a way I could make my `ctor` fire after the Rust std `ctor`? I've had this code working before. It recently changed when I switched to workspace modules, etc.

[2022-06-07 00:50] brandonros commented on #263
will continue the issue in `ctor` since it is a better fit

[2022-06-07 00:50] #263 closed

[2022-06-07 06:42] GiorgioBertolotti commented on #247
@estk is there any work planned regarding this issue?

[2022-06-07 07:20] estk commented on #247
@GiorgioBertolotti it's not currently a vulnerability, it may become one in the future.
The exploit is possible given a different memory layout since rust's layout is not stabilized. I would love to move away from it but... https://github.com/reem/rust-typemap/issues/45 has discouraged me.

Searching crates.io I see https://crates.io/crates/typemap_rev which seems to be maintained by the discord f

[2022-06-07 08:03] GiorgioBertolotti commented on #247
@estk Thank you for the detailed explanation.
I tried to take a look at the `typemap_rev` crate you recommended but honestly I'm afraid that **as of today** it is not mature enough to cover all the `typemap` features.

For example `typemap_rev` does not implement in trait `Clone` which is currently used in `log4rs`. There is an [open issue](https://github.com/bdashore3/typemap_rev/issues/2) but it

[2022-06-09 10:09] lingfan commented on #235
need kind "time"

[2022-06-12 13:35] No9 commented on #247
FYI As traitobject, unsafeany and typemap are unmaintained I've pulled https://github.com/philip-peterson/destructure_traitobject/ into unsafe-any here https://github.com/No9/rust-unsafe-any/commit/e0c79e23f0265597f6ab92b296296ff6f474e174
and updated typemap here https://github.com/No9/rust-typemap/commit/f15452a41e34ecdee89852b7727a0cac221ef3e7
I've then pulled typemap into a fork of log4rs here

[2022-06-22 01:37] benjamin555 opened #266 "Is there a featrue to limit message len?"
Is there a featrue to limit message len? e.g:
![image](https://user-images.githubusercontent.com/4843310/174924649-da7c6c3c-e241-47f0-98d5-466dca6beb1f.png)

[2022-06-23 18:57] tejom opened #268 "Async writes in appenders?"
Hey,
Been looking through this, wanted to check and confirm that there isn't a way to do async writes for each record logged? Is that a feature that is going to be included at some point? Something like https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/AsyncAppender.html

[2022-06-29 07:43] f-squirrel opened #269 "Log printed twice if more than one logger is matched"
If a log message matches several loggers, the message is printed twice.
In the following example, the log message is printed first by the `root` logger and then by `bla_bla`.

Sample of code:
[code]

Result:
[code]

Sample config:
[code]

How do I fix the issue?

[2022-06-30 08:22] f-squirrel commented on #269
@estk , my bad I have missed this part of the documentation.
Thank you very much, after adding `additive: false` to the `bla_bla` logger, there is only one log message.

[2022-07-13 03:03] MaxKingPor opened #270 "Modifying serialization mode"
I found that there are many `log4rs::config::raw::Deserialize` implementation.
We can use [#[serde(flatten)]](https://serde.rs/field-attrs.html#flatten) and [#[serde(tag = "type")]](https://serde.rs/enum-representations.html#internally-tagged) to modify the configuration structure. Example: `LocalAppenders`
Enum `Appender` is used to distinguish user and local configurations. Note: `Appender` need

[2022-07-14 02:09] MaxKingPor commented on #270
![0DE94107](https://user-images.githubusercontent.com/43533178/178882699-fde3edd7-57d5-4adf-921a-f2a27b07e20b.png)

[2022-07-19 03:43] t1hq opened #271 "is it possible to configure cutting string from left?"
for example, if i'm writing log in file `src\log\mod.rs`,  `{f:>8.8}` will log the following string:

    src\log\

it would be more helpful if it is logged as:

    og\mod.rs

[2022-07-19 04:35] estk commented on #271
I'm sorry but i don't think i have enough context to answer your question. Can you please say more?

[2022-07-19 05:51] t1hq commented on #271
short version: i would like to cut the source file message from left instead of right, if the message is too long.

let's say i'm configuring with this pattern:
[code]
so if i write log in a file `src/log/test.rs` like this:
[code]
i will get this log:
    src/log/ - this is a test
filename will be cut if the path is too long. i think it is more helpful for me if the message will be cut from right

[2022-07-19 16:14] estk commented on #271
I understand, I don't believe this is currently possible. If you are interested in implementing this feature I would be happy to help mentor.

[2022-08-10 15:28] cavivie commented on #17
consider add support for level color, just like this: [ColoredLevelConfig](https://github.com/daboross/fern/blob/main/src/colors.rs#L126-L149)

[2022-09-01 20:57] pinkforest commented on #247
Hey @No9 we should probably file unmaintained for unsafe-any and could point to your fork ?

Also if you have typemap fork going we could include it as alternative - there is also another one

 - Add unmaintained `typemap` - https://github.com/rustsec/advisory-db/pull/1406
 - Add unmaintained `traitobject` - https://github.com/rustsec/advisory-db/pull/1390

Would you be publishing typemap and unsf

[2022-09-01 21:13] estk commented on #266
No as of now

[2022-09-01 21:15] #266 closed

[2022-09-01 21:25] estk commented on #268
I wrote this a while back: https://www.imperva.com/blog/logging-a-deep-dive/

The issue with full-pipeline async logging is that the actual log message may contain borrowed data. Therefore you must serialize _before_ queuing the data to be written on another thread. In that case, it's probably better to just use a buffered writer (which log4rs does) and amortize the cost of going to disk. The exce

[2022-09-01 21:26] #268 closed

[2022-09-01 21:39] estk commented on #270
I'm sorry, i dont understand the question or request, I'm closing this for now. If this is a code suggestion please open a PR.

[2022-09-01 21:39] #270 closed

[2022-09-01 21:40] #271 closed

[2022-09-01 21:56] estk commented on #247
@No9 @pinkforest thanks for staying on this one. @No9 it seems there is an appetite for having access to your forks via crates.io. One question tho, what do you mean by this?

If the authors/maintainers of those crates are unresponsive I suggest you just create new crates.io projects so long as you have the bandwidth for long-term maintenance of said resources.

My only objection to using forks is

[2022-09-01 23:30] No9 commented on #247
Happy to publish these to crates.io I'll look at it over the weekend and update my fork.
I can take the maintenance for the short/medium term but I think it would also be a good idea to give @estk or someone else admin access to the forked repo too so this doesn't happen again.

[2022-09-01 23:34] pinkforest commented on #247
You could always start a github organisation and then give publish right to team in the github organisation
That's what we do e.g. with [cargo-geiger](https://crates.io/crates/cargo-geiger) where we got `cargo-geiger` admins under `wg-secure-code`
I've been meaning to start orphanage-rs GH org to cater these crates that need new adoptees and that could use maintainer bus

[2022-09-01 23:36] estk commented on #247
@pinkforest I really like the idea of `orphanage-rs`. I'd be happy to pitch in where i can.

[2022-09-01 23:42] pinkforest commented on #247
k. I started orphanage-rs and we can create teams based cargo publish from there and move the forks there

[2022-09-02 03:01] tejom commented on #268
Yeah for the application I was working on at the time that wouldn't have worked out. We wanted to to consistent and predictable performance, which is why I wanted to do something with a separate thread.  I ended up hacking something together with tokios tracing crate. I'm also not working on the original project anymore this was going to be used for so I'm kind of indifferent now. Thanks for getti

[2022-09-03 15:07] No9 commented on #247
Dependency repos have moved to orphanage-rs with some additional housekeeping done (clippy/fmt/CI).
https://github.com/orphanage-rs/rust-unsafe-any
https://github.com/orphanage-rs/rust-typemap

Crates published and invites sent to @pinkforest and @estk
https://crates.io/crates/unsafe-any-ors
https://crates.io/crates/typemap-ors

I've PRd updates to this repo to use typemap-ors
https://github.com/e

[2022-09-05 16:07] brandonros opened #276 "Weird PatternEncoder {d} variable padding width problem?"
[code]

[code]

Not sure why {d} sometimes has padding/is a fixed length and sometimes it isn't? The timestamp.

[2022-09-23 10:51] kornelski opened #277 "typemap is an outdated, vulnerable dependency"
This crate depends on typemap which is a super old dependency and pulls in [vulnerable traitobject](https://rustsec.org/advisories/RUSTSEC-2020-0027) dependency. Can you drop it?

[2022-10-05 15:08] Angelin01 opened #279 "Deserializing config from file with other configs"
I have a specific case here that may be not be super _unusual_. My application, like most, already has a configuration file. For the purposes of this example, let's say it is a JSON as such:

[code]

To read this configuration, I am using [Figment](https://docs.rs/figment/latest/figment/), but the heavy duty is done by Serde, so I'd expect that most other libraries would support this.

What I'd li

[2022-10-05 16:13] nirvana-msu opened #280 "FixedWindowRoller does not expand env vars in file pattern"
`FixedWindowRoller` does not currently expand env vars in file `pattern` - unlike the `path` configs of file appenders. It makes it impossible to store archived files in the same directory as the log files themselves (e.g. when those use `$ENV{HOME}`).

[2022-10-11 10:25] uwemaurer commented on #277
duplicate of #247

[2022-10-11 17:14] estk commented on #277
Yes, backed up at the moment but its at the top of the list

[2022-10-11 17:14] #277 closed

[2022-10-12 17:00] estk commented on #279
Hi @Angelin01, thanks for asking this. The issue here is as you found out, we do not export serde Impls, this is because we have an _open_ configuration where other projects may write appenders and loggers outside of log4rs. My suggestion would be to `Config::logging` to a serde_json::Value and pass that to log4rs when you start up. The other wrinkle here is that you probably want to do some boots

[2022-10-12 17:06] Angelin01 commented on #279
That should do the trick. Thank you for the suggestion.

Figment provides configuration through environment variables too, which is wonderful for things like secrets or overriding logging levels! As such, keeping it is desired. One can still perform most bootstrapping even if one fails initialization due to a borked config. I find it acceptable to manually format a single error due to configuratio

[2022-10-12 17:06] #279 closed

[2022-10-12 17:12] estk commented on #276
@brandonros lol, looking into it. In the mean time check out our formatting opts for datetimes:
https://docs.rs/log4rs/latest/log4rs/encode/pattern/index.html

[2022-10-12 17:19] estk commented on #276
Ok looks like if no custom format is specified we use `%+` format.
https://github.com/estk/log4rs/blob/d669a814da27cb5cc708d41b2ae425a97001dd0a/src/encode/pattern/mod.rs#L409

We use `chrono` to format timestamps and according to the docs that is "ISO 8601 / RFC 3339 date & time format."
https://docs.rs/chrono/latest/chrono/format/strftime/index.html#specifiers

According to the footnote

Hopefull

[2022-10-12 17:21] estk commented on #280
This should be super easy to impl, and happy to provide guidance to anyone interested in doing so.

[2022-10-12 17:30] brandonros commented on #276
Which part of this do I need to fix so that I get a consistent timestamp each time instead of variable length?

[2022-10-12 18:38] estk commented on #276
Check the table in the link above. It will depend on your requirements.

[2022-10-12 18:38] #276 closed

[2022-10-13 03:08] moh-eulith opened #283 "Support truncating from the left, width padding/truncation incorrect with some unicode input"
Left truncation is the default in the inspiration for this crate (Log4j). It usually produces more relevant results, e.g. for filenames, logger names, etc.

Both styles of truncation should be supported, with right truncation (current implementation) as the default for backward compatibility.

Log4j uses a minus sign on the length (negative length) to flip the truncation. So it might look like thi

[2022-10-13 15:37] estk commented on #283
Sounds like a worthy enhancement, happy to mentor if you'd like to take a stab at it.

[2022-10-14 20:46] Will-Low commented on #256
@estk - #241 appears to provide a quick solution to this.

[2022-10-16 17:58] JRAndreassen commented on #258
Hi...
I would love to see this feature as well..

[2022-10-16 18:04] JRAndreassen opened #284 "Feature: Make Config Serializable"
Hi...
It would be awfully convenient to be able to serialize the config to file.

Rationale:
 In most cases, the default logging is fine, which is set by code.
Sometimes more is needed, but instead of sending the customer a 'log4rs.yml' file.
I would like to be able to do
my_executable --log_path './logs' --init_log
Then have the customer alter the default...

It should be fairly straight forward,

[2022-10-17 02:37] moh-eulith commented on #283
I had a look at this. unicode encoding makes this diabolically difficult. The existing code is already running into this issue, so maybe fixing the unicode issues is the first step. Here is a failing test case inspired by this stackoverflow [question](https://stackoverflow.com/questions/67665281/although-rusts-char-supports-non-english-characters-many-articles-recommend-us)

[code]

a simple `prin

[2022-10-17 17:17] estk commented on #283
@moh-eulith can you open a Draft pr with the above failing test?

[2022-10-17 17:26] wonktondI opened #286 "Different levels of logs correspond to different files"
Different levels of logs correspond to different files.
e.g. info.log =>  yyyy-MM-dd HH:mm:ss  INFO  the level is info1
                           yyyy-MM-dd HH:mm:ss  INFO  the level is info2

       error.log => yyyy-MM-dd HH:mm:ss ERROR the level is error1
       error.log => yyyy-MM-dd HH:mm:ss ERROR the level is error2

how do i make it happen？Thx :)

[2022-10-17 18:20] moh-eulith commented on #283
I'm not clear on what the `buf` contents are that are passed to the `write` function. Is the content guaranteed to be on byte, unicode code point, or grapheme boundary?

[2022-10-17 18:24] estk commented on #286
You'll want to use the threshold filter.
https://github.com/estk/log4rs/blob/e03c2485c686080e7d8286413fb68714a5377a3f/test/log.yml

In conjunction with the `additive: false` you can filter the levels out one by one (the appenders will need to be in the correct order)

[2022-10-17 18:54] moh-eulith commented on #283
So a full fix would require some manner of buffering. Max encoding length for utf8 is 4 bytes, another 2 for combining, so that's a 6 byte buffer. I'm by no means a unicode expert, but it appears combining is [not limited](https://en.wikipedia.org/wiki/Combining_character#Zalgo_text) to a single one per grapheme, so theoretically, we have to look ahead past all combining codepoints.

Additionally,

[2022-10-17 20:24] estk commented on #283
[code]

[2022-10-17 20:45] moh-eulith commented on #283
Agreed that grapheme counting is the right way to go. However, because we don't have a guarantee on the `buf` segmentation, it leads to failures:

[code]

[2022-10-17 20:51] moh-eulith commented on #283
Sorry, should've made the example simpler. I think the minimal test case that fails `test_all_splits` is:

[code]

[2022-10-17 20:53] estk commented on #283
No worries, yep I agree there will be miscalculations when we span a Unicode sequence, we just don't have enough information to do the right thing.

[2022-10-17 20:57] estk commented on #284
@JRAndreassen I'm not sure I really understand the question, I'm going to send you an email.

[2022-10-18 05:05] #286 closed

[2022-10-19 14:54] JRatPrtgconsultants commented on #284
Hi Estk,
Thanks for responding...

I try to keep the number of files I send to the users as small as possible. Optimally jsut the exe.
Duing the init process, I call the 'init_logging_with_path' which looks for the config file or
the default log4rs config is created in code (see below).

In order to be able alter the config it would be nice to be able to serialize the default configuration to a fi

[2022-10-22 02:37] heliping opened #288 "How to integrate with actix-web?"
actix-web logging services cannot save to file. Log4rs is a good choice to complete it.
But I didnot find the solution to get the request info. Only can get the log by log::info.....

[2022-10-25 12:49] snaggen opened #289 "Trigger is invoked after log, causing date based triggers to log one line in the wrong file"
I have a Date based trigger, so when the date changes it will return true and the logs are rotated.
However due to the fact that the rolling file appender writes to the log first, and then check the policy, the first log line each day is written in the old log, before it is rotated.

I think it would be bettter, if the policy was checked at the top of the append function, before the log is written

[2022-10-25 16:26] estk commented on #284
Thanks for the explanation JR, as discussed its out of scope without a major version bump.

[2022-10-25 16:26] #284 closed

[2022-10-25 16:31] estk commented on #289
@snaggen thanks for reaching out, I'd be happy to help mentor if you're interested in taking this on.

[2022-10-26 06:20] snaggen commented on #289
The current code handling this is this:
[code]

So basically just move the `self.policy.process(&mut file)` to the top of that function should solve the problem. However, the problem here is that process currently takes a LogFile parameter, which have an open writer. So,  construct the LogFile struct after the ```let mut writer = self.writer.lock();``` and add the policy call there?

Something lik

[2022-10-26 06:25] snaggen commented on #289
Or as a diff
[code]

[2022-10-26 18:05] estk commented on #289
great @snaggen would you open a PR?

[2022-10-26 18:07] estk commented on #288
Awesome! @moh-eulith thanks for the help on this. @heliping feel free to re-open if this has not answered your question.

[2022-10-26 18:07] #288 closed

[2022-10-27 22:11] brotskydotcom commented on #289
Sorry to chime in uninvited, but I've also been looking at what's needed for time-based rotation (see also #235) and I'm not sure this is the way to go.

There is a subtle issue introduced by this change: it delays log rotation by size until the next log entry is going to be written.  The way the code currently works is that the size of the log file handed to the trigger *includes* the entry that

[2022-10-28 07:50] snaggen commented on #289
And I do not agree with the size log delay to be the same kind of bug but in the other direction, since the log output would be exactly the same, it is just the rotation time that will be delayed until the next log event. And since that happens at a random time, that is exactly the same as today. So, this is really just an imaginary issue you are raising.

There is however an issue with the size a

[2022-10-28 14:53] clickonetwo commented on #289
@snaggen I'm trying to find places where we agree rather than places where we disagree :), so I'm sorry if my first post did not come off that way.  Let me try again.  Here is where I think we agree:

1. The proposed change changes the time that log rotation by size happens, but does not alter the content of the log that gets rotated, assuming the log rotation policy remains constant.
2. The propo

[2022-10-28 15:04] snaggen commented on #289
I did submitted a PR this morning

[2022-10-28 18:55] clickonetwo commented on #289
@snaggen Whoops!  Sorry ignore my question above - I see you already submitted the PR.  Thanks!  I will go ahead with my client trigger based on that.

[2022-11-10 04:08] c-git opened #291 "Documentation of log config files"
Please pardon my ignorance, I've been looking around but haven't been able to find anywhere that lists what is expected to be in a config file to load the configuration. I've found a few example but nothing that explains what all the options are. Does this exist and I just missed it? In the [documentation](https://docs.rs/log4rs/1.2.0/log4rs/index.html#configuration) it says, "...The file module d

[2022-11-28 08:59] Forsworns commented on #256
@estk Any idea about #241? The cve alerts of the outdated time crate persist in the downstream libraries depending on log4rs.